openapi: 3.2.0
info:
  title: Pipeliner Cloud Pipeline API
  version: '100'
servers:
- url: https://us-east.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://eu-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ca-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ap-southeast.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
tags:
- name: Pipeline
paths:
  /entities/Pipelines/{id}:
    get:
      description: Returns Pipeline with given id
      operationId: Pipelines.get
      summary: Pipelines.get
      tags:
      - Pipeline
      parameters:
      - name: id
        in: path
        description: ID of Pipeline to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Pipeline data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Pipeline'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes Pipeline with given id
      operationId: Pipelines.delete
      summary: Pipelines.delete
      tags:
      - Pipeline
      parameters:
      - name: id
        in: path
        description: ID of Pipeline to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Pipeline on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted Pipeline
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies Pipeline or Pipelines with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of Pipeline to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Pipeline on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: Pipelines.update
      summary: Pipelines.update
      tags:
      - Pipeline
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePipelineInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting Pipeline
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Pipeline'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Pipelines:
    get:
      description: Returns all defined Pipelines
      operationId: Pipelines.list
      summary: Pipelines.list
      tags:
      - Pipeline
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted Pipelines are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of Pipelines
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pipeline'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new Pipeline
      operationId: Pipelines.create
      summary: Pipelines.create
      tags:
      - Pipeline
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Pipeline on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Pipeline
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createPipelineInput'
      responses:
        '201':
          description: Creation confirmation. Returns created Pipeline
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Pipeline'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Pipelines/batch-delete:
    post:
      description: Removes Pipelines with given list of ids
      operationId: Pipelines.batch_delete
      summary: Pipelines.batch_delete
      tags:
      - Pipeline
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Pipelines on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Pipelines. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Pipeline to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted Pipeline.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Pipelines/batch-modify:
    post:
      description: Create or update an batch of Pipelines
      operationId: Pipelines.batch_create_or_update
      summary: Pipelines.batch_create_or_update
      tags:
      - Pipeline
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Pipelines on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Pipelines. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Pipeline
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchPipelineInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated Pipelines
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Pipelines/batch-restore:
    post:
      description: Restores Pipelines with given list of ids
      operationId: Pipelines.batch_restore
      summary: Pipelines.batch_restore
      tags:
      - Pipeline
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Pipelines on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Pipelines. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Pipeline to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored Pipeline.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    updatePipelineInput:
      properties:
        color:
          type: integer
          format: int32
          example: 1
          description: 'Display color of the pipeline label, encoded as a 24-bit RGB integer: (red << 16) | (green << 8) | blue.'
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        steps:
          type: array
          items:
            $ref: '#/components/schemas/batchStepInput'
          description: Steps associated with this Pipeline.
    Error:
      properties:
        http_status:
          description: HTTP status code
          type: integer
          example: 400
        code:
          description: Internal API error code
          type: integer
          example: 117
        name:
          description: Name of the API error
          type: string
          example: ERROR_PARAMETER_INVALID
        message:
          description: Description of the API error
          type: string
        success:
          description: Always false on error.
          type: boolean
          example: false
      required:
      - success
      - http_status
    Pipeline:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        color:
          type: integer
          format: int32
          example: 1
          description: 'Display color of the pipeline label, encoded as a 24-bit RGB integer: (red << 16) | (green << 8) | blue.'
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        steps:
          type: array
          items:
            $ref: '#/components/schemas/batchStepInput'
          description: Steps associated with this Pipeline.
        opportunity_types:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to OpportunityType. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''OpportunityType'' object for properties.'
          description: Opportunity types that follow this pipeline.
      required:
      - is_delete_protected
      - id
      - color
      - name
      - steps
      - opportunity_types
    createPipelineInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        color:
          type: integer
          format: int32
          example: 1
          description: 'Display color of the pipeline label, encoded as a 24-bit RGB integer: (red << 16) | (green << 8) | blue.'
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        steps:
          type: array
          items:
            $ref: '#/components/schemas/batchStepInput'
          description: Steps associated with this Pipeline.
      required:
      - color
      - name
      - steps
    batchStepInput:
      properties:
        description:
          type: string
          example: string
          description: Free-text description shown in the step UI.
        has_readonly_form:
          type: boolean
          example: false
          description: When true, the record form is read-only while a record is in this step.
        has_version_increment:
          type: boolean
          example: false
          description: When true, transitioning a record into this step bumps its version counter.
        lead_process_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the lead process.
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        percent:
          type: integer
          format: int32
          example: 1
          description: Probability percent associated with the step (0-100). Required for opportunity pipeline steps; null for lead/quote process steps.
        quote_process_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the quote process.
        sort_order:
          type: integer
          format: int32
          example: 1
          description: Position of the step within its pipeline or process; lower values appear first.
        timeframe:
          type: integer
          format: int32
          example: 1
          description: Expected number of days a record should spend in this step. Used to flag overdue records.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        documents:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to CloudObjectStepRelation, see: ''updateCloudObjectStepRelationInput'' object for properties.'
          description: Files attached to the step (e.g. step-specific documentation or templates).
        step_checklists:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to StepChecklist, see: ''updateStepChecklistInput'' object for properties.'
          description: Checklist items the user must complete before moving a record out of this step.
        id:
          description: ID of object to update.
          type: string
          format: uuid
    batchPipelineInput:
      properties:
        color:
          type: integer
          format: int32
          example: 1
          description: 'Display color of the pipeline label, encoded as a 24-bit RGB integer: (red << 16) | (green << 8) | blue.'
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        steps:
          type: array
          items:
            $ref: '#/components/schemas/batchStepInput'
          description: Steps associated with this Pipeline.
        id:
          description: ID of object to update.
          type: string
          format: uuid
