openapi: 3.2.0
info:
  title: Pipeliner Cloud Email Sequence API
  version: '100'
servers:
- url: https://us-east.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://eu-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ca-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ap-southeast.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
tags:
- name: Email Sequence
paths:
  /entities/EmailSequences/{id}:
    get:
      description: Returns EmailSequence with given id
      operationId: EmailSequences.get
      summary: EmailSequences.get
      tags:
      - Email Sequence
      parameters:
      - name: id
        in: path
        description: ID of EmailSequence to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: EmailSequence data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequence'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes EmailSequence with given id
      operationId: EmailSequences.delete
      summary: EmailSequences.delete
      tags:
      - Email Sequence
      parameters:
      - name: id
        in: path
        description: ID of EmailSequence to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequence on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted EmailSequence
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies EmailSequence or EmailSequences with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of EmailSequence to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequence on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: EmailSequences.update
      summary: EmailSequences.update
      tags:
      - Email Sequence
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEmailSequenceInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting EmailSequence
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequence'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequences:
    get:
      description: Returns all defined EmailSequences
      operationId: EmailSequences.list
      summary: EmailSequences.list
      tags:
      - Email Sequence
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted EmailSequences are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of EmailSequences
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailSequence'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new EmailSequence
      operationId: EmailSequences.create
      summary: EmailSequences.create
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequence on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new EmailSequence
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createEmailSequenceInput'
      responses:
        '201':
          description: Creation confirmation. Returns created EmailSequence
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequence'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequences/batch-delete:
    post:
      description: Removes EmailSequences with given list of ids
      operationId: EmailSequences.batch_delete
      summary: EmailSequences.batch_delete
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequences on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequences. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity EmailSequence to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted EmailSequence.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequences/batch-modify:
    post:
      description: Create or update an batch of EmailSequences
      operationId: EmailSequences.batch_create_or_update
      summary: EmailSequences.batch_create_or_update
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequences on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequences. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new EmailSequence
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchEmailSequenceInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated EmailSequences
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequences/batch-restore:
    post:
      description: Restores EmailSequences with given list of ids
      operationId: EmailSequences.batch_restore
      summary: EmailSequences.batch_restore
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequences on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequences. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity EmailSequence to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored EmailSequence.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogs/{id}:
    get:
      description: Returns EmailSequenceActivityLog with given id
      operationId: EmailSequenceActivityLogs.get
      summary: EmailSequenceActivityLogs.get
      tags:
      - Email Sequence
      parameters:
      - name: id
        in: path
        description: ID of EmailSequenceActivityLog to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: EmailSequenceActivityLog data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequenceActivityLog'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes EmailSequenceActivityLog with given id
      operationId: EmailSequenceActivityLogs.delete
      summary: EmailSequenceActivityLogs.delete
      tags:
      - Email Sequence
      parameters:
      - name: id
        in: path
        description: ID of EmailSequenceActivityLog to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLog on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted EmailSequenceActivityLog
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies EmailSequenceActivityLog or EmailSequenceActivityLogs with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of EmailSequenceActivityLog to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLog on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: EmailSequenceActivityLogs.update
      summary: EmailSequenceActivityLogs.update
      tags:
      - Email Sequence
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEmailSequenceActivityLogInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting EmailSequenceActivityLog
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequenceActivityLog'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogs:
    get:
      description: Returns all defined EmailSequenceActivityLogs
      operationId: EmailSequenceActivityLogs.list
      summary: EmailSequenceActivityLogs.list
      tags:
      - Email Sequence
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted EmailSequenceActivityLogs are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of EmailSequenceActivityLogs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailSequenceActivityLog'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new EmailSequenceActivityLog
      operationId: EmailSequenceActivityLogs.create
      summary: EmailSequenceActivityLogs.create
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLog on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new EmailSequenceActivityLog
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createEmailSequenceActivityLogInput'
      responses:
        '201':
          description: Creation confirmation. Returns created EmailSequenceActivityLog
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequenceActivityLog'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogs/batch-delete:
    post:
      description: Removes EmailSequenceActivityLogs with given list of ids
      operationId: EmailSequenceActivityLogs.batch_delete
      summary: EmailSequenceActivityLogs.batch_delete
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLogs on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequenceActivityLogs. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity EmailSequenceActivityLog to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted EmailSequenceActivityLog.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogs/batch-modify:
    post:
      description: Create or update an batch of EmailSequenceActivityLogs
      operationId: EmailSequenceActivityLogs.batch_create_or_update
      summary: EmailSequenceActivityLogs.batch_create_or_update
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLogs on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequenceActivityLogs. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new EmailSequenceActivityLog
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchEmailSequenceActivityLogInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated EmailSequenceActivityLogs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogs/batch-restore:
    post:
      description: Restores EmailSequenceActivityLogs with given list of ids
      operationId: EmailSequenceActivityLogs.batch_restore
      summary: EmailSequenceActivityLogs.batch_restore
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLogs on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequenceActivityLogs. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity EmailSequenceActivityLog to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored EmailSequenceActivityLog.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogLines/{id}:
    get:
      description: Returns EmailSequenceActivityLogLine with given id
      operationId: EmailSequenceActivityLogLines.get
      summary: EmailSequenceActivityLogLines.get
      tags:
      - Email Sequence
      parameters:
      - name: id
        in: path
        description: ID of EmailSequenceActivityLogLine to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: EmailSequenceActivityLogLine data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequenceActivityLogLine'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes EmailSequenceActivityLogLine with given id
      operationId: EmailSequenceActivityLogLines.delete
      summary: EmailSequenceActivityLogLines.delete
      tags:
      - Email Sequence
      parameters:
      - name: id
        in: path
        description: ID of EmailSequenceActivityLogLine to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLogLine on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted EmailSequenceActivityLogLine
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies EmailSequenceActivityLogLine or EmailSequenceActivityLogLines with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of EmailSequenceActivityLogLine to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLogLine on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: EmailSequenceActivityLogLines.update
      summary: EmailSequenceActivityLogLines.update
      tags:
      - Email Sequence
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEmailSequenceActivityLogLineInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting EmailSequenceActivityLogLine
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequenceActivityLogLine'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogLines:
    get:
      description: Returns all defined EmailSequenceActivityLogLines
      operationId: EmailSequenceActivityLogLines.list
      summary: EmailSequenceActivityLogLines.list
      tags:
      - Email Sequence
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted EmailSequenceActivityLogLines are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of EmailSequenceActivityLogLines
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailSequenceActivityLogLine'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new EmailSequenceActivityLogLine
      operationId: EmailSequenceActivityLogLines.create
      summary: EmailSequenceActivityLogLines.create
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLogLine on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new EmailSequenceActivityLogLine
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createEmailSequenceActivityLogLineInput'
      responses:
        '201':
          description: Creation confirmation. Returns created EmailSequenceActivityLogLine
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequenceActivityLogLine'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogLines/batch-delete:
    post:
      description: Removes EmailSequenceActivityLogLines with given list of ids
      operationId: EmailSequenceActivityLogLines.batch_delete
      summary: EmailSequenceActivityLogLines.batch_delete
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLogLines on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequenceActivityLogLines. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity EmailSequenceActivityLogLine to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted EmailSequenceActivityLogLine.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogLines/batch-modify:
    post:
      description: Create or update an batch of EmailSequenceActivityLogLines
      operationId: EmailSequenceActivityLogLines.batch_create_or_update
      summary: EmailSequenceActivityLogLines.batch_create_or_update
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLogLines on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequenceActivityLogLines. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new EmailSequenceActivityLogLine
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchEmailSequenceActivityLogLineInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated EmailSequenceActivityLogLines
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceActivityLogLines/batch-restore:
    post:
      description: Restores EmailSequenceActivityLogLines with given list of ids
      operationId: EmailSequenceActivityLogLines.batch_restore
      summary: EmailSequenceActivityLogLines.batch_restore
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceActivityLogLines on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequenceActivityLogLines. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity EmailSequenceActivityLogLine to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored EmailSequenceActivityLogLine.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceEnrolleds/{id}:
    get:
      description: Returns EmailSequenceEnrolled with given id
      operationId: EmailSequenceEnrolleds.get
      summary: EmailSequenceEnrolleds.get
      tags:
      - Email Sequence
      parameters:
      - name: id
        in: path
        description: ID of EmailSequenceEnrolled to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: EmailSequenceEnrolled data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequenceEnrolled'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes EmailSequenceEnrolled with given id
      operationId: EmailSequenceEnrolleds.delete
      summary: EmailSequenceEnrolleds.delete
      tags:
      - Email Sequence
      parameters:
      - name: id
        in: path
        description: ID of EmailSequenceEnrolled to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceEnrolled on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted EmailSequenceEnrolled
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies EmailSequenceEnrolled or EmailSequenceEnrolleds with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of EmailSequenceEnrolled to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceEnrolled on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: EmailSequenceEnrolleds.update
      summary: EmailSequenceEnrolleds.update
      tags:
      - Email Sequence
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEmailSequenceEnrolledInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting EmailSequenceEnrolled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequenceEnrolled'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceEnrolleds:
    get:
      description: Returns all defined EmailSequenceEnrolleds
      operationId: EmailSequenceEnrolleds.list
      summary: EmailSequenceEnrolleds.list
      tags:
      - Email Sequence
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted EmailSequenceEnrolleds are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of EmailSequenceEnrolleds
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmailSequenceEnrolled'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new EmailSequenceEnrolled
      operationId: EmailSequenceEnrolleds.create
      summary: EmailSequenceEnrolleds.create
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceEnrolled on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new EmailSequenceEnrolled
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createEmailSequenceEnrolledInput'
      responses:
        '201':
          description: Creation confirmation. Returns created EmailSequenceEnrolled
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/EmailSequenceEnrolled'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceEnrolleds/batch-delete:
    post:
      description: Removes EmailSequenceEnrolleds with given list of ids
      operationId: EmailSequenceEnrolleds.batch_delete
      summary: EmailSequenceEnrolleds.batch_delete
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceEnrolleds on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequenceEnrolleds. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity EmailSequenceEnrolled to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted EmailSequenceEnrolled.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceEnrolleds/batch-modify:
    post:
      description: Create or update an batch of EmailSequenceEnrolleds
      operationId: EmailSequenceEnrolleds.batch_create_or_update
      summary: EmailSequenceEnrolleds.batch_create_or_update
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceEnrolleds on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequenceEnrolleds. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new EmailSequenceEnrolled
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchEmailSequenceEnrolledInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated EmailSequenceEnrolleds
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/EmailSequenceEnrolleds/batch-restore:
    post:
      description: Restores EmailSequenceEnrolleds with given list of ids
      operationId: EmailSequenceEnrolleds.batch_restore
      summary: EmailSequenceEnrolleds.batch_restore
      tags:
      - Email Sequence
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of EmailSequenceEnrolleds on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for EmailSequenceEnrolleds. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity EmailSequenceEnrolled to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored EmailSequenceEnrolled.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    createEmailSequenceActivityLogInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        actor_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the actor.
        application_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the application.
        email_sequence_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the email sequence.
        end_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the run finished. Empty for runs still in progress.
        is_test_run:
          type: boolean
          example: false
          description: True when the run was a dry-run / test execution and did not produce real-side effects.
        start_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the run started.
        status:
          type: integer
          description: 'Outcome of the run (e.g. Ok, Error, Cancelled).


            Integer enum value: 1 - Ok, 2 - Warning, 3 - Error, 4 - Scheduled, 5 - Expired'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
      required:
      - application_id
      - email_sequence_id
      - start_time
      - status
    updateEmailSequenceActivityLogLineInput:
      properties:
        email_sequence_activity_log_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the activity log.
        is_visible:
          type: boolean
          example: false
          description: True when the line is shown in the activity log UI; false for internal-only lines.
        sort_order:
          type: integer
          format: int32
          example: 1
          description: Position of the line within its log run.
        status:
          type: integer
          description: 'Outcome of the step the line represents (e.g. Ok, Error, Skipped).


            Integer enum value: 1 - Ok, 2 - Warning, 3 - Error, 4 - Scheduled, 5 - Expired'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
    EmailSequence:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        owner:
          type: string
          format: uri
          description: 'User who owns this email sequence.


            Relation to Client. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Client'' object for properties.'
        deactivation_reason:
          type: integer
          description: 'Reason the sequence is currently disabled (e.g. Manual stop, system suspension). Read-only.


            Integer enum value: 0 - NoReason, 1 - Manual, 2 - TooManyErrors, 3 - DisabledFeature'
          example: 0
          enum:
          - 0
          - 1
          - 2
          - 3
        description:
          type: string
          example: string
          description: Free-form description of the sequence.
        is_enabled:
          type: boolean
          example: false
          description: Master switch for the sequence. Read-only on this surface — change it via the enable / disable mutations.
        last_schema_change:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp of the most recent change to settings. Read-only.
        last_status_change:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp of the most recent change to is_enabled. Read-only.
        name:
          type: string
          example: string
          description: Display name of the email sequence.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the email sequence owner.
        settings:
          type: object
          description: JSON schema describing the sequence trigger, nodes (steps) and global actions (e.g. on-reply, on-bounce, on-unsubscribe).
        type:
          type: integer
          description: 'Process category of the sequence (e.g. EmailSequence vs other process types).


            Integer enum value: 1 - Personal, 2 - Space'
          example: 1
          enum:
          - 1
          - 2
        activity_logs:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to EmailSequenceActivityLog. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''EmailSequenceActivityLog'' object for properties.'
          description: Run history of the sequence — one log per scheduled execution.
        documents:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to CloudObjectRelation. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''CloudObjectRelation'' object for properties.'
          description: Attachments and other documents linked to this sequence.
        enrolled:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to EmailSequenceEnrolled. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''EmailSequenceEnrolled'' object for properties.'
          description: Enrolment records (recipients currently or previously running through the sequence).
      required:
      - is_delete_protected
      - id
      - owner
      - name
      - owner_id
      - type
    EmailSequenceActivityLog:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        actor:
          type: string
          format: uri
          description: 'User who initiated the run, or empty for runs triggered by automation.


            Relation to Client. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Client'' object for properties.'
        application:
          type: string
          format: uri
          description: 'Application context the run was triggered in (e.g. browser, automation, third-party integration).


            Relation to Application. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Application'' object for properties.'
        email_sequence:
          type: string
          format: uri
          description: 'Email sequence this activity log belongs to.


            Relation to EmailSequence. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''EmailSequence'' object for properties.'
        actor_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the actor.
        application_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the application.
        email_sequence_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the email sequence.
        end_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the run finished. Empty for runs still in progress.
        is_test_run:
          type: boolean
          example: false
          description: True when the run was a dry-run / test execution and did not produce real-side effects.
        start_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the run started.
        status:
          type: integer
          description: 'Outcome of the run (e.g. Ok, Error, Cancelled).


            Integer enum value: 1 - Ok, 2 - Warning, 3 - Error, 4 - Scheduled, 5 - Expired'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
        lines:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to EmailSequenceActivityLogLine. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''EmailSequenceActivityLogLine'' object for properties.'
          description: Step-by-step log lines produced during the run.
        record_name:
          type: string
          example: string
          description: Display name of the record this run enrolled (e.g. contact name). Read-only; computed by Coevera.
        record_email:
          type: string
          example: string
          description: Email address of the record this run enrolled. Read-only; computed by Coevera.
      required:
      - is_delete_protected
      - id
      - application
      - email_sequence
      - application_id
      - email_sequence_id
      - start_time
      - status
    updateEmailSequenceEnrolledInput:
      properties:
        account_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled account.
        actor_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the actor.
        application_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the application.
        contact_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled contact.
        email_sequence_activity_log_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the activity log.
        email_sequence_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the email sequence.
        end_reason:
          type: integer
          description: 'Why the enrolment ended (e.g. Reply, Unsubscribe, Bounce, Manual, Completed).


            Integer enum value: 0 - NoReason, 1 - Unenrolled, 2 - Finished'
          example: 0
          enum:
          - 0
          - 1
          - 2
        end_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the enrolment ended (completed or unenrolled). Empty while the enrolment is active.
        excluded_from_stats:
          type: boolean
          example: false
          description: True when this enrolment is excluded from sequence statistics (e.g. after a stats reset).
        lead_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled lead.
        oppty_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled opportunity.
        project_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled project.
        start_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the enrolment started.
    EmailSequenceActivityLogLine:
      properties:
        formatted_text:
          type: string
          example: string
          description: Human-readable rendering of the log line, prefixed with the line's timestamp and (when applicable) the parent record id.
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        email_sequence_activity_log:
          type: string
          format: uri
          description: 'Activity log this line belongs to.


            Relation to EmailSequenceActivityLog. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''EmailSequenceActivityLog'' object for properties.'
        email_sequence_activity_log_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the activity log.
        is_visible:
          type: boolean
          example: false
          description: True when the line is shown in the activity log UI; false for internal-only lines.
        sort_order:
          type: integer
          format: int32
          example: 1
          description: Position of the line within its log run.
        status:
          type: integer
          description: 'Outcome of the step the line represents (e.g. Ok, Error, Skipped).


            Integer enum value: 1 - Ok, 2 - Warning, 3 - Error, 4 - Scheduled, 5 - Expired'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
      required:
      - formatted_text
      - is_delete_protected
      - id
      - email_sequence_activity_log
      - email_sequence_activity_log_id
      - sort_order
    Error:
      properties:
        http_status:
          description: HTTP status code
          type: integer
          example: 400
        code:
          description: Internal API error code
          type: integer
          example: 117
        name:
          description: Name of the API error
          type: string
          example: ERROR_PARAMETER_INVALID
        message:
          description: Description of the API error
          type: string
        success:
          description: Always false on error.
          type: boolean
          example: false
      required:
      - success
      - http_status
    batchEmailSequenceActivityLogLineInput:
      properties:
        email_sequence_activity_log_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the activity log.
        is_visible:
          type: boolean
          example: false
          description: True when the line is shown in the activity log UI; false for internal-only lines.
        sort_order:
          type: integer
          format: int32
          example: 1
          description: Position of the line within its log run.
        status:
          type: integer
          description: 'Outcome of the step the line represents (e.g. Ok, Error, Skipped).


            Integer enum value: 1 - Ok, 2 - Warning, 3 - Error, 4 - Scheduled, 5 - Expired'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
        id:
          description: ID of object to update.
          type: string
          format: uuid
    batchEmailSequenceEnrolledInput:
      properties:
        account_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled account.
        actor_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the actor.
        application_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the application.
        contact_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled contact.
        email_sequence_activity_log_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the activity log.
        email_sequence_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the email sequence.
        end_reason:
          type: integer
          description: 'Why the enrolment ended (e.g. Reply, Unsubscribe, Bounce, Manual, Completed).


            Integer enum value: 0 - NoReason, 1 - Unenrolled, 2 - Finished'
          example: 0
          enum:
          - 0
          - 1
          - 2
        end_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the enrolment ended (completed or unenrolled). Empty while the enrolment is active.
        excluded_from_stats:
          type: boolean
          example: false
          description: True when this enrolment is excluded from sequence statistics (e.g. after a stats reset).
        lead_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled lead.
        oppty_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled opportunity.
        project_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled project.
        start_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the enrolment started.
        id:
          description: ID of object to update.
          type: string
          format: uuid
    updateEmailSequenceActivityLogInput:
      properties:
        actor_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the actor.
        application_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the application.
        email_sequence_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the email sequence.
        end_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the run finished. Empty for runs still in progress.
        is_test_run:
          type: boolean
          example: false
          description: True when the run was a dry-run / test execution and did not produce real-side effects.
        start_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the run started.
        status:
          type: integer
          description: 'Outcome of the run (e.g. Ok, Error, Cancelled).


            Integer enum value: 1 - Ok, 2 - Warning, 3 - Error, 4 - Scheduled, 5 - Expired'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
          - 5
    batchEmailSequenceInput:
      properties:
        description:
          type: string
          example: string
          description: Free-form description of the sequence.
        name:
          type: string
          example: string
          description: Display name of the email sequence.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the email sequence owner.
        settings:
          type: object
          description: JSON schema describing the sequence trigger, nodes (steps) and global actions (e.g. on-reply, on-bounce, on-unsubscribe).
        type:
          type: integer
          description: 'Process category of the sequence (e.g. EmailSequence vs other process types).


            Integer enum value: 1 - Personal, 2 - Space'
          example: 1
          enum:
          - 1
          - 2
        documents:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to CloudObjectRelation, see: ''updateCloudObjectRelationInput'' object for properties.'
          description: Attachments and other documents linked to this sequence.
        id:
          description: ID of object to update.
          type: string
          format: uuid
    createEmailSequenceEnrolledInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        account_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled account.
        actor_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the actor.
        application_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the application.
        contact_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the enrolled contact.
        email_sequence_activity_log_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the activity log.
        email_sequence_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the email sequence.
        end_reason:
          type: integer
          description: 'Why the enrolment ended (e.g. Reply, Unsubscribe, Bounce, Manual, Completed).


            Integer enum value: 0 - NoReason, 1 - Unenrolled, 2 - Finished'
          example: 0
          enum:
          - 0
          - 1
          - 2
        end_time:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Timestamp when the enrolment ended (completed or unenrolled). Empty while the enrolment is active.
[...]
