openapi: 3.2.0
info:
  title: Pipeliner Cloud Currency API
  version: '100'
servers:
- url: https://us-east.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://eu-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ca-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ap-southeast.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
tags:
- name: Currency
paths:
  /entities/Currencies/{id}:
    get:
      description: Returns Currency with given id
      operationId: Currencies.get
      summary: Currencies.get
      tags:
      - Currency
      parameters:
      - name: id
        in: path
        description: ID of Currency to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Currency data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Currency'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes Currency with given id
      operationId: Currencies.delete
      summary: Currencies.delete
      tags:
      - Currency
      parameters:
      - name: id
        in: path
        description: ID of Currency to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Currency on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted Currency
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies Currency or Currencies with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of Currency to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Currency on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: Currencies.update
      summary: Currencies.update
      tags:
      - Currency
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCurrencyInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting Currency
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Currency'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Currencies:
    get:
      description: Returns all defined Currencies
      operationId: Currencies.list
      summary: Currencies.list
      tags:
      - Currency
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted Currencies are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of Currencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Currency'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new Currency
      operationId: Currencies.create
      summary: Currencies.create
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Currency on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Currency
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createCurrencyInput'
      responses:
        '201':
          description: Creation confirmation. Returns created Currency
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Currency'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Currencies/batch-delete:
    post:
      description: Removes Currencies with given list of ids
      operationId: Currencies.batch_delete
      summary: Currencies.batch_delete
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Currencies on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Currencies. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Currency to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted Currency.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Currencies/batch-modify:
    post:
      description: Create or update an batch of Currencies
      operationId: Currencies.batch_create_or_update
      summary: Currencies.batch_create_or_update
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Currencies on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Currencies. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Currency
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchCurrencyInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated Currencies
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Currencies/batch-restore:
    post:
      description: Restores Currencies with given list of ids
      operationId: Currencies.batch_restore
      summary: Currencies.batch_restore
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Currencies on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Currencies. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Currency to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored Currency.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRates/{id}:
    get:
      description: Returns CurrencyExchangeRate with given id
      operationId: CurrencyExchangeRates.get
      summary: CurrencyExchangeRates.get
      tags:
      - Currency
      parameters:
      - name: id
        in: path
        description: ID of CurrencyExchangeRate to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: CurrencyExchangeRate data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/CurrencyExchangeRate'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes CurrencyExchangeRate with given id
      operationId: CurrencyExchangeRates.delete
      summary: CurrencyExchangeRates.delete
      tags:
      - Currency
      parameters:
      - name: id
        in: path
        description: ID of CurrencyExchangeRate to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRate on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted CurrencyExchangeRate
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies CurrencyExchangeRate or CurrencyExchangeRates with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of CurrencyExchangeRate to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRate on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: CurrencyExchangeRates.update
      summary: CurrencyExchangeRates.update
      tags:
      - Currency
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCurrencyExchangeRateInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting CurrencyExchangeRate
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/CurrencyExchangeRate'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRates:
    get:
      description: Returns all defined CurrencyExchangeRates
      operationId: CurrencyExchangeRates.list
      summary: CurrencyExchangeRates.list
      tags:
      - Currency
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted CurrencyExchangeRates are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of CurrencyExchangeRates
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CurrencyExchangeRate'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new CurrencyExchangeRate
      operationId: CurrencyExchangeRates.create
      summary: CurrencyExchangeRates.create
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRate on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new CurrencyExchangeRate
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createCurrencyExchangeRateInput'
      responses:
        '201':
          description: Creation confirmation. Returns created CurrencyExchangeRate
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/CurrencyExchangeRate'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRates/batch-delete:
    post:
      description: Removes CurrencyExchangeRates with given list of ids
      operationId: CurrencyExchangeRates.batch_delete
      summary: CurrencyExchangeRates.batch_delete
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRates on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for CurrencyExchangeRates. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity CurrencyExchangeRate to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted CurrencyExchangeRate.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRates/batch-modify:
    post:
      description: Create or update an batch of CurrencyExchangeRates
      operationId: CurrencyExchangeRates.batch_create_or_update
      summary: CurrencyExchangeRates.batch_create_or_update
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRates on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for CurrencyExchangeRates. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new CurrencyExchangeRate
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchCurrencyExchangeRateInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated CurrencyExchangeRates
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRates/batch-restore:
    post:
      description: Restores CurrencyExchangeRates with given list of ids
      operationId: CurrencyExchangeRates.batch_restore
      summary: CurrencyExchangeRates.batch_restore
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRates on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for CurrencyExchangeRates. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity CurrencyExchangeRate to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored CurrencyExchangeRate.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRatesLists/{id}:
    get:
      description: Returns CurrencyExchangeRatesList with given id
      operationId: CurrencyExchangeRatesLists.get
      summary: CurrencyExchangeRatesLists.get
      tags:
      - Currency
      parameters:
      - name: id
        in: path
        description: ID of CurrencyExchangeRatesList to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: CurrencyExchangeRatesList data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/CurrencyExchangeRatesList'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes CurrencyExchangeRatesList with given id
      operationId: CurrencyExchangeRatesLists.delete
      summary: CurrencyExchangeRatesLists.delete
      tags:
      - Currency
      parameters:
      - name: id
        in: path
        description: ID of CurrencyExchangeRatesList to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRatesList on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted CurrencyExchangeRatesList
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies CurrencyExchangeRatesList or CurrencyExchangeRatesLists with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of CurrencyExchangeRatesList to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRatesList on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: CurrencyExchangeRatesLists.update
      summary: CurrencyExchangeRatesLists.update
      tags:
      - Currency
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateCurrencyExchangeRatesListInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting CurrencyExchangeRatesList
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/CurrencyExchangeRatesList'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRatesLists:
    get:
      description: Returns all defined CurrencyExchangeRatesLists
      operationId: CurrencyExchangeRatesLists.list
      summary: CurrencyExchangeRatesLists.list
      tags:
      - Currency
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted CurrencyExchangeRatesLists are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of CurrencyExchangeRatesLists
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CurrencyExchangeRatesList'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new CurrencyExchangeRatesList
      operationId: CurrencyExchangeRatesLists.create
      summary: CurrencyExchangeRatesLists.create
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRatesList on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new CurrencyExchangeRatesList
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createCurrencyExchangeRatesListInput'
      responses:
        '201':
          description: Creation confirmation. Returns created CurrencyExchangeRatesList
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/CurrencyExchangeRatesList'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRatesLists/batch-delete:
    post:
      description: Removes CurrencyExchangeRatesLists with given list of ids
      operationId: CurrencyExchangeRatesLists.batch_delete
      summary: CurrencyExchangeRatesLists.batch_delete
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRatesLists on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for CurrencyExchangeRatesLists. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity CurrencyExchangeRatesList to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted CurrencyExchangeRatesList.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRatesLists/batch-modify:
    post:
      description: Create or update an batch of CurrencyExchangeRatesLists
      operationId: CurrencyExchangeRatesLists.batch_create_or_update
      summary: CurrencyExchangeRatesLists.batch_create_or_update
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRatesLists on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for CurrencyExchangeRatesLists. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new CurrencyExchangeRatesList
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchCurrencyExchangeRatesListInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated CurrencyExchangeRatesLists
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/CurrencyExchangeRatesLists/batch-restore:
    post:
      description: Restores CurrencyExchangeRatesLists with given list of ids
      operationId: CurrencyExchangeRatesLists.batch_restore
      summary: CurrencyExchangeRatesLists.batch_restore
      tags:
      - Currency
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of CurrencyExchangeRatesLists on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for CurrencyExchangeRatesLists. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity CurrencyExchangeRatesList to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored CurrencyExchangeRatesList.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Currency:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        code:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        is_base:
          type: boolean
          example: false
          description: True for the space's base currency. There is exactly one base currency per space and it cannot be deleted.
          readOnly: true
        symbol:
          type: string
          example: string
          description: Display symbol of the currency (e.g. "$", "€"). Used when formatting amounts in the UI.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        currency_exchange_rates:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to CurrencyExchangeRate. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''CurrencyExchangeRate'' object for properties.'
          description: Exchange rates configured for this currency, one per exchange rate list (effective period).
      required:
      - is_delete_protected
      - id
      - code
      - currency_exchange_rates
    updateCurrencyInput:
      properties:
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        currency_exchange_rates:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to CurrencyExchangeRate, see: ''updateCurrencyExchangeRateInput'' object for properties.'
          description: Exchange rates configured for this currency, one per exchange rate list (effective period).
    CurrencyExchangeRate:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        currency_exchange_rate_list:
          type: string
          format: uri
          description: 'Effective period (exchange rate list) this rate belongs to.


            Relation to CurrencyExchangeRatesList. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''CurrencyExchangeRatesList'' object for properties.'
        currency:
          type: string
          format: uri
          description: 'Currency the exchange rate applies to. Cannot be the base currency.


            Relation to Currency. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Currency'' object for properties.'
        currency_exchange_rate_list_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the exchange rate list.
        currency_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the currency.
        exchange_rate:
          type: number
          format: double
          example: '4.32'
          description: Multiplier for converting an amount in the base currency into this currency. Must be greater than zero.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
      required:
      - is_delete_protected
      - id
      - currency_exchange_rate_list
      - currency
      - currency_exchange_rate_list_id
      - currency_id
    Error:
      properties:
        http_status:
          description: HTTP status code
          type: integer
          example: 400
        code:
          description: Internal API error code
          type: integer
          example: 117
        name:
          description: Name of the API error
          type: string
          example: ERROR_PARAMETER_INVALID
        message:
          description: Description of the API error
          type: string
        success:
          description: Always false on error.
          type: boolean
          example: false
      required:
      - success
      - http_status
    batchCurrencyExchangeRatesListInput:
      properties:
        valid_from:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Date the exchange rate list becomes effective. The list valid for any given moment is the most recent one whose valid_from is in the past. Time component is truncated to midnight on set.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        currency_exchange_rates:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to CurrencyExchangeRate, see: ''updateCurrencyExchangeRateInput'' object for properties.'
          description: Exchange rates configured in this list — one row per non-base currency in the space.
        id:
          description: ID of object to update.
          type: string
          format: uuid
    createCurrencyInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        code:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        symbol:
          type: string
          example: string
          description: Display symbol of the currency (e.g. "$", "€"). Used when formatting amounts in the UI.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        currency_exchange_rates:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to CurrencyExchangeRate, see: ''createCurrencyExchangeRateInput'' object for properties.'
          description: Exchange rates configured for this currency, one per exchange rate list (effective period).
      required:
      - code
      - currency_exchange_rates
    CurrencyExchangeRatesList:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        valid_from:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Date the exchange rate list becomes effective. The list valid for any given moment is the most recent one whose valid_from is in the past. Time component is truncated to midnight on set.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        currency_exchange_rates:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to CurrencyExchangeRate. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''CurrencyExchangeRate'' object for properties.'
          description: Exchange rates configured in this list — one row per non-base currency in the space.
      required:
      - is_delete_protected
      - id
      - valid_from
      - currency_exchange_rates
    batchCurrencyInput:
      properties:
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        currency_exchange_rates:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to CurrencyExchangeRate, see: ''updateCurrencyExchangeRateInput'' object for properties.'
          description: Exchange rates configured for this currency, one per exchange rate list (effective period).
        id:
          description: ID of object to update.
          type: string
          format: uuid
    batchCurrencyExchangeRateInput:
      properties:
        currency_exchange_rate_list_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the exchange rate list.
        currency_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the currency.
        exchange_rate:
          type: number
          format: double
          example: '4.32'
          description: Multiplier for converting an amount in the base currency into this currency. Must be greater than zero.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        id:
          description: ID of object to update.
          type: string
          format: uuid
    updateCurrencyExchangeRateInput:
      properties:
        currency_exchange_rate_list_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the exchange rate list.
        currency_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the currency.
        exchange_rate:
          type: number
          format: double
          example: '4.32'
          description: Multiplier for converting an amount in the base currency into this currency. Must be greater than zero.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
    updateCurrencyExchangeRatesListInput:
      properties:
        valid_from:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Date the exchange rate list becomes effective. The list valid for any given moment is the most recent one whose valid_from is in the past. Time component is truncated to midnight on set.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        currency_exchange_rates:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to CurrencyExchangeRate, see: ''updateCurrencyExchangeRateInput'' object for properties.'
          description: Exchange rates configured in this list — one row per non-base currency in the space.
    createCurrencyExchangeRatesListInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        valid_from:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Date the exchange rate list becomes effective. The list valid for any given moment is the most recent one whose valid_from is in the past. Time component is truncated to midnight on set.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        currency_exchange_rates:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to CurrencyExchangeRate, see: ''createCurrencyExchangeRateInput'' object for properties.'
          description: Exchange rates configured in this list — one row per non-base currency in the space.
      required:
      - valid_from
      - currency_exchange_rates
    createCurrencyExchangeRateInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        currency_exchange_rate_list_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the exchange rate list.
        currency_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the currency.
        exchange_rate:
          type: number
          format: double
          example: '4.32'
          description: Multiplier for converting an amount in the base currency into this currency. Must be greater than zero.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
      required:
      - currency_exchange_rate_list_id
      - currency_id
