openapi: 3.2.0
info:
  title: Pipeliner Cloud Form API
  version: '100'
servers:
- url: https://us-east.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://eu-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ca-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ap-southeast.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
tags:
- name: Form
paths:
  /entities/FormViews/{id}:
    get:
      description: Returns FormView with given id
      operationId: FormViews.get
      summary: FormViews.get
      tags:
      - Form
      parameters:
      - name: id
        in: path
        description: ID of FormView to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: FormView data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/FormView'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes FormView with given id
      operationId: FormViews.delete
      summary: FormViews.delete
      tags:
      - Form
      parameters:
      - name: id
        in: path
        description: ID of FormView to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of FormView on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted FormView
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies FormView or FormViews with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of FormView to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of FormView on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: FormViews.update
      summary: FormViews.update
      tags:
      - Form
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateFormViewInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting FormView
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/FormView'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViews:
    get:
      description: Returns all defined FormViews
      operationId: FormViews.list
      summary: FormViews.list
      tags:
      - Form
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted FormViews are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of FormViews
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormView'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new FormView
      operationId: FormViews.create
      summary: FormViews.create
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormView on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new FormView
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createFormViewInput'
      responses:
        '201':
          description: Creation confirmation. Returns created FormView
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/FormView'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViews/batch-delete:
    post:
      description: Removes FormViews with given list of ids
      operationId: FormViews.batch_delete
      summary: FormViews.batch_delete
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViews on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for FormViews. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity FormView to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted FormView.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViews/batch-modify:
    post:
      description: Create or update an batch of FormViews
      operationId: FormViews.batch_create_or_update
      summary: FormViews.batch_create_or_update
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViews on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for FormViews. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new FormView
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchFormViewInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated FormViews
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViews/batch-restore:
    post:
      description: Restores FormViews with given list of ids
      operationId: FormViews.batch_restore
      summary: FormViews.batch_restore
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViews on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for FormViews. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity FormView to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored FormView.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingClientRelations/{id}:
    get:
      description: Returns FormViewSharingClientRelation with given id
      operationId: FormViewSharingClientRelations.get
      summary: FormViewSharingClientRelations.get
      tags:
      - Form
      parameters:
      - name: id
        in: path
        description: ID of FormViewSharingClientRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: FormViewSharingClientRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/FormViewSharingClientRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes FormViewSharingClientRelation with given id
      operationId: FormViewSharingClientRelations.delete
      summary: FormViewSharingClientRelations.delete
      tags:
      - Form
      parameters:
      - name: id
        in: path
        description: ID of FormViewSharingClientRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingClientRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted FormViewSharingClientRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies FormViewSharingClientRelation or FormViewSharingClientRelations with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of FormViewSharingClientRelation to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingClientRelation on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: FormViewSharingClientRelations.update
      summary: FormViewSharingClientRelations.update
      tags:
      - Form
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateFormViewSharingClientRelationInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting FormViewSharingClientRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/FormViewSharingClientRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingClientRelations:
    get:
      description: Returns all defined FormViewSharingClientRelations
      operationId: FormViewSharingClientRelations.list
      summary: FormViewSharingClientRelations.list
      tags:
      - Form
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted FormViewSharingClientRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of FormViewSharingClientRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormViewSharingClientRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new FormViewSharingClientRelation
      operationId: FormViewSharingClientRelations.create
      summary: FormViewSharingClientRelations.create
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingClientRelation on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new FormViewSharingClientRelation
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createFormViewSharingClientRelationInput'
      responses:
        '201':
          description: Creation confirmation. Returns created FormViewSharingClientRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/FormViewSharingClientRelation'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingClientRelations/batch-delete:
    post:
      description: Removes FormViewSharingClientRelations with given list of ids
      operationId: FormViewSharingClientRelations.batch_delete
      summary: FormViewSharingClientRelations.batch_delete
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingClientRelations on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for FormViewSharingClientRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity FormViewSharingClientRelation to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted FormViewSharingClientRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingClientRelations/batch-modify:
    post:
      description: Create or update an batch of FormViewSharingClientRelations
      operationId: FormViewSharingClientRelations.batch_create_or_update
      summary: FormViewSharingClientRelations.batch_create_or_update
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingClientRelations on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for FormViewSharingClientRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new FormViewSharingClientRelation
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchFormViewSharingClientRelationInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated FormViewSharingClientRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingClientRelations/batch-restore:
    post:
      description: Restores FormViewSharingClientRelations with given list of ids
      operationId: FormViewSharingClientRelations.batch_restore
      summary: FormViewSharingClientRelations.batch_restore
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingClientRelations on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for FormViewSharingClientRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity FormViewSharingClientRelation to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored FormViewSharingClientRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingSalesUnitRelations/{id}:
    get:
      description: Returns FormViewSharingSalesUnitRelation with given id
      operationId: FormViewSharingSalesUnitRelations.get
      summary: FormViewSharingSalesUnitRelations.get
      tags:
      - Form
      parameters:
      - name: id
        in: path
        description: ID of FormViewSharingSalesUnitRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: FormViewSharingSalesUnitRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/FormViewSharingSalesUnitRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes FormViewSharingSalesUnitRelation with given id
      operationId: FormViewSharingSalesUnitRelations.delete
      summary: FormViewSharingSalesUnitRelations.delete
      tags:
      - Form
      parameters:
      - name: id
        in: path
        description: ID of FormViewSharingSalesUnitRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingSalesUnitRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted FormViewSharingSalesUnitRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies FormViewSharingSalesUnitRelation or FormViewSharingSalesUnitRelations with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of FormViewSharingSalesUnitRelation to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingSalesUnitRelation on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: FormViewSharingSalesUnitRelations.update
      summary: FormViewSharingSalesUnitRelations.update
      tags:
      - Form
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateFormViewSharingSalesUnitRelationInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting FormViewSharingSalesUnitRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/FormViewSharingSalesUnitRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingSalesUnitRelations:
    get:
      description: Returns all defined FormViewSharingSalesUnitRelations
      operationId: FormViewSharingSalesUnitRelations.list
      summary: FormViewSharingSalesUnitRelations.list
      tags:
      - Form
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted FormViewSharingSalesUnitRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of FormViewSharingSalesUnitRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FormViewSharingSalesUnitRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new FormViewSharingSalesUnitRelation
      operationId: FormViewSharingSalesUnitRelations.create
      summary: FormViewSharingSalesUnitRelations.create
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingSalesUnitRelation on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new FormViewSharingSalesUnitRelation
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createFormViewSharingSalesUnitRelationInput'
      responses:
        '201':
          description: Creation confirmation. Returns created FormViewSharingSalesUnitRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/FormViewSharingSalesUnitRelation'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingSalesUnitRelations/batch-delete:
    post:
      description: Removes FormViewSharingSalesUnitRelations with given list of ids
      operationId: FormViewSharingSalesUnitRelations.batch_delete
      summary: FormViewSharingSalesUnitRelations.batch_delete
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingSalesUnitRelations on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for FormViewSharingSalesUnitRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity FormViewSharingSalesUnitRelation to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted FormViewSharingSalesUnitRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingSalesUnitRelations/batch-modify:
    post:
      description: Create or update an batch of FormViewSharingSalesUnitRelations
      operationId: FormViewSharingSalesUnitRelations.batch_create_or_update
      summary: FormViewSharingSalesUnitRelations.batch_create_or_update
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingSalesUnitRelations on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for FormViewSharingSalesUnitRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new FormViewSharingSalesUnitRelation
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchFormViewSharingSalesUnitRelationInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated FormViewSharingSalesUnitRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/FormViewSharingSalesUnitRelations/batch-restore:
    post:
      description: Restores FormViewSharingSalesUnitRelations with given list of ids
      operationId: FormViewSharingSalesUnitRelations.batch_restore
      summary: FormViewSharingSalesUnitRelations.batch_restore
      tags:
      - Form
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of FormViewSharingSalesUnitRelations on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for FormViewSharingSalesUnitRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity FormViewSharingSalesUnitRelation to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored FormViewSharingSalesUnitRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    batchFormViewSharingSalesUnitRelationInput:
      properties:
        form_view_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the shared form view.
        role:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Watcher, 2 - Editor'
          example: 1
          enum:
          - 1
          - 2
        unit_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the sales unit.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        id:
          description: ID of object to update.
          type: string
          format: uuid
    Error:
      properties:
        http_status:
          description: HTTP status code
          type: integer
          example: 400
        code:
          description: Internal API error code
          type: integer
          example: 117
        name:
          description: Name of the API error
          type: string
          example: ERROR_PARAMETER_INVALID
        message:
          description: Description of the API error
          type: string
        success:
          description: Always false on error.
          type: boolean
          example: false
      required:
      - success
      - http_status
    updateFormViewSharingClientRelationInput:
      properties:
        client_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the user.
        form_view_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the shared form view.
        role:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Watcher, 2 - Editor'
          example: 1
          enum:
          - 1
          - 2
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
    FormViewSharingClientRelation:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        client:
          type: string
          format: uri
          description: 'User granted shared access to the form view.


            Relation to Client. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Client'' object for properties.'
        form_view:
          type: string
          format: uri
          description: 'Form view being shared.


            Relation to FormView. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''FormView'' object for properties.'
        client_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the user.
        form_view_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the shared form view.
        role:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Watcher, 2 - Editor'
          example: 1
          enum:
          - 1
          - 2
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
      required:
      - is_delete_protected
      - id
      - client
      - form_view
      - client_id
      - form_view_id
    FormViewSharingSalesUnitRelation:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        form_view:
          type: string
          format: uri
          description: 'Form view being shared.


            Relation to FormView. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''FormView'' object for properties.'
        unit:
          type: string
          format: uri
          description: 'Sales unit granted shared access to the form view.


            Relation to SalesUnit. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''SalesUnit'' object for properties.'
        form_view_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the shared form view.
        role:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Watcher, 2 - Editor'
          example: 1
          enum:
          - 1
          - 2
        unit_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the sales unit.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
      required:
      - is_delete_protected
      - id
      - form_view
      - unit
      - form_view_id
      - unit_id
    updateFormViewInput:
      properties:
        account_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the account type.
        contact_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the contact type.
        hidden_item_ids:
          type: object
          description: Ids of fields and webresources hidden from the form for this view.
        item_colors:
          type: object
          description: Per-item color overrides for fields and webresources in the form, keyed by item id.
        lead_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the lead type.
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        oppty_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the opportunity type.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the owning user.
        share_mode:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 0 - Standard, 1 - Private, 2 - AllView, 3 - AllEdit'
          example: 0
          enum:
          - 0
          - 1
          - 2
          - 3
        use_lang:
          type: boolean
          example: false
          description: When true, the form view name is treated as a translation key and localized in the UI; otherwise the literal name is shown.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        sharing_units:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to FormViewSharingSalesUnitRelation, see: ''updateFormViewSharingSalesUnitRelationInput'' object for properties.'
          description: Sales units that have been granted shared access to this form view (custom share mode).
        sharing_clients:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to FormViewSharingClientRelation, see: ''updateFormViewSharingClientRelationInput'' object for properties.'
          description: Users that have been granted shared access to this form view (custom share mode).
    updateFormViewSharingSalesUnitRelationInput:
      properties:
        form_view_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the shared form view.
        role:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Watcher, 2 - Editor'
          example: 1
          enum:
          - 1
          - 2
        unit_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the sales unit.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
    batchFormViewSharingClientRelationInput:
      properties:
        client_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the user.
        form_view_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the shared form view.
        role:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Watcher, 2 - Editor'
          example: 1
          enum:
          - 1
          - 2
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        id:
          description: ID of object to update.
          type: string
          format: uuid
    createFormViewInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        account_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the account type.
        contact_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the contact type.
        hidden_item_ids:
          type: object
          description: Ids of fields and webresources hidden from the form for this view.
        item_colors:
          type: object
          description: Per-item color overrides for fields and webresources in the form, keyed by item id.
        lead_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the lead type.
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        oppty_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the opportunity type.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the owning user.
        share_mode:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 0 - Standard, 1 - Private, 2 - AllView, 3 - AllEdit'
          example: 0
          enum:
          - 0
          - 1
          - 2
          - 3
        use_lang:
          type: boolean
          example: false
          description: When true, the form view name is treated as a translation key and localized in the UI; otherwise the literal name is shown.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        sharing_units:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to FormViewSharingSalesUnitRelation, see: ''createFormViewSharingSalesUnitRelationInput'' object for properties.'
          description: Sales units that have been granted shared access to this form view (custom share mode).
        sharing_clients:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to FormViewSharingClientRelation, see: ''createFormViewSharingClientRelationInput'' object for properties.'
          description: Users that have been granted shared access to this form view (custom share mode).
      required:
      - hidden_item_ids
      - item_colors
      - name
      - owner_id
    FormView:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        account_type:
          type: string
          format: uri
          description: 'Account type the form view applies to. Set when the form view targets accounts.


            Relation to AccountType. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''AccountType'' object for properties.'
        contact_type:
          type: string
          format: uri
          description: 'Contact type the form view applies to. Set when the form view targets contacts.


            Relation to ContactType. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''ContactType'' object for properties.'
        lead_type:
          type: string
          format: uri
          description: 'Lead type the form view applies to. Set when the form view targets leads.


            Relation to LeadType. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''LeadType'' object for properties.'
        oppty_type:
          type: string
          format: uri
          description: 'Opportunity type the form view applies to. Set when the form view targets opportunities.


            Relation to OpportunityType. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''OpportunityType'' object for properties.'
        owner:
          type: string
          format: uri
          description: 'User who owns the form view.


            Relation to Client. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Client'' object for properties.'
        account_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the account type.
        contact_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the contact type.
        hidden_item_ids:
          type: object
          description: Ids of fields and webresources hidden from the form for this view.
        item_colors:
          type: object
          description: Per-item color overrides for fields and webresources in the form, keyed by item id.
        lead_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the lead type.
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        oppty_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the opportunity type.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the owning user.
        share_mode:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 0 - Standard, 1 - Private, 2 - AllView, 3 - AllEdit'
          example: 0
          enum:
          - 0
          - 1
          - 2
          - 3
        use_lang:
          type: boolean
          example: false
          description: When true, the form view name is treated as a translation key and localized in the UI; otherwise the literal name is shown.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        entity_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the type the form view is configured for, derived from whichever of the per-entity-type relations is set.
        sharing_units:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to FormViewSharingSalesUnitRelation. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''FormViewSharingSalesUnitRelation'' object for properties.'
          description: Sales units that have been granted shared access to this form view (custom share mode).
        sharing_clients:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to FormViewSharingClientRelation. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''FormViewSharingClientRelation'' object for properties.'
          description: Users that have been granted shared access to this form view (custom share mode).
      required:
      - is_delete_protected
      - id
      - owner
      - hidden_item_ids
      - item_colors
      - name
      - owner_id
      - entity_type_id
    batchFormViewInput:
      properties:
        account_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the account type.
        contact_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the contact type.
        hidden_item_ids:
          type: object
          description: Ids of fields and webresources hidden from the form for this view.
        item_colors:
          type: object
          description: Per-item color overrides for fields and webresources in the form, keyed by item id.
        lead_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the lead type.
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        oppty_type_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the opportunity type.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the owning user.
        share_mode:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 0 - Standard, 1 - Private, 2 - AllView, 3 - AllEdit'
          example: 0
          enum:
          - 0
          - 1
          - 2
          - 3
        use_lang:
          type: boolean
          example: false
          description: When true, the form view name is treated as a translation key and localized in the UI; otherwise the literal name is shown.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        sharing_units:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to FormViewSharingSalesUnitRelation, see: ''updateFormViewSharingSalesUnitRelationInput'' object for properties.'
          description: Sales units that have been granted shared access to this form view (custom share mode).
        sharing_clients:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to FormViewSharingClientRelation, see: ''updateFormViewSharingClientRelationInput'' object for properties.'
          description: Users that have been granted shared access to this form view (custom share mode).
        id:
          description: ID of object to update.
          type: string
          format: uuid
    createFormViewSharingClientRelationInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        client_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the user.
        form_view_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the shared form view.
        role:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Watcher, 2 - Editor'
          example: 1
          enum:
          - 1
          - 2
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
      required:
      - client_id
      - form_view_id
    createFormViewSharingSalesUnitRelationInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        form_view_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the shared form view.
        role:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Watcher, 2 - Editor'
          example: 1
          enum:
          - 1
          - 2
        unit_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the sales unit.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
      required:
      - form_view_id
      - unit_id
