openapi: 3.2.0
info:
  title: Pipeliner Cloud Project API
  version: '100'
servers:
- url: https://us-east.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://eu-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ca-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ap-southeast.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
tags:
- name: Project
paths:
  /entities/Projects/{id}:
    get:
      description: Returns Project with given id
      operationId: Projects.get
      summary: Projects.get
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of Project to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Project data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Project'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes Project with given id
      operationId: Projects.delete
      summary: Projects.delete
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of Project to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Project on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted Project
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies Project or Projects with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of Project to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Project on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: Projects.update
      summary: Projects.update
      tags:
      - Project
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProjectInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting Project
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Project'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Projects:
    get:
      description: Returns all defined Projects
      operationId: Projects.list
      summary: Projects.list
      tags:
      - Project
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted Projects are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of Projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new Project
      operationId: Projects.create
      summary: Projects.create
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Project on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Project
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createProjectInput'
      responses:
        '201':
          description: Creation confirmation. Returns created Project
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Project'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Projects/batch-delete:
    post:
      description: Removes Projects with given list of ids
      operationId: Projects.batch_delete
      summary: Projects.batch_delete
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Projects on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Projects. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Project to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted Project.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Projects/batch-modify:
    post:
      description: Create or update an batch of Projects
      operationId: Projects.batch_create_or_update
      summary: Projects.batch_create_or_update
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Projects on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Projects. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Project
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchProjectInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated Projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Projects/batch-restore:
    post:
      description: Restores Projects with given list of ids
      operationId: Projects.batch_restore
      summary: Projects.batch_restore
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Projects on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Projects. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Project to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored Project.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectContactRelations/{id}:
    get:
      description: Returns ProjectContactRelation with given id
      operationId: ProjectContactRelations.get
      summary: ProjectContactRelations.get
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectContactRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ProjectContactRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectContactRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes ProjectContactRelation with given id
      operationId: ProjectContactRelations.delete
      summary: ProjectContactRelations.delete
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectContactRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectContactRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted ProjectContactRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies ProjectContactRelation or ProjectContactRelations with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of ProjectContactRelation to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectContactRelation on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: ProjectContactRelations.update
      summary: ProjectContactRelations.update
      tags:
      - Project
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProjectContactRelationInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting ProjectContactRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectContactRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectContactRelations:
    get:
      description: Returns all defined ProjectContactRelations
      operationId: ProjectContactRelations.list
      summary: ProjectContactRelations.list
      tags:
      - Project
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted ProjectContactRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of ProjectContactRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectContactRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new ProjectContactRelation
      operationId: ProjectContactRelations.create
      summary: ProjectContactRelations.create
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectContactRelation on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new ProjectContactRelation
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createProjectContactRelationInput'
      responses:
        '201':
          description: Creation confirmation. Returns created ProjectContactRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectContactRelation'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectContactRelations/batch-delete:
    post:
      description: Removes ProjectContactRelations with given list of ids
      operationId: ProjectContactRelations.batch_delete
      summary: ProjectContactRelations.batch_delete
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectContactRelations on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectContactRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity ProjectContactRelation to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted ProjectContactRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectContactRelations/batch-modify:
    post:
      description: Create or update an batch of ProjectContactRelations
      operationId: ProjectContactRelations.batch_create_or_update
      summary: ProjectContactRelations.batch_create_or_update
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectContactRelations on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectContactRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new ProjectContactRelation
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchProjectContactRelationInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated ProjectContactRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectContactRelations/batch-restore:
    post:
      description: Restores ProjectContactRelations with given list of ids
      operationId: ProjectContactRelations.batch_restore
      summary: ProjectContactRelations.batch_restore
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectContactRelations on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectContactRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity ProjectContactRelation to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored ProjectContactRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectDataExRelations/{id}:
    get:
      description: Returns ProjectDataExRelation with given id
      operationId: ProjectDataExRelations.get
      summary: ProjectDataExRelations.get
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectDataExRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ProjectDataExRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectDataExRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectDataExRelations:
    get:
      description: Returns all defined ProjectDataExRelations
      operationId: ProjectDataExRelations.list
      summary: ProjectDataExRelations.list
      tags:
      - Project
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted ProjectDataExRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of ProjectDataExRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectDataExRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectKPIs/{id}:
    get:
      description: Returns ProjectKPI with given id
      operationId: ProjectKPIs.get
      summary: ProjectKPIs.get
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectKPI to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ProjectKPI data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectKPI'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes ProjectKPI with given id
      operationId: ProjectKPIs.delete
      summary: ProjectKPIs.delete
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectKPI to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectKPI on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted ProjectKPI
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies ProjectKPI or ProjectKPIs with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of ProjectKPI to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectKPI on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: ProjectKPIs.update
      summary: ProjectKPIs.update
      tags:
      - Project
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProjectKPIInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting ProjectKPI
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectKPI'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectKPIs:
    get:
      description: Returns all defined ProjectKPIs
      operationId: ProjectKPIs.list
      summary: ProjectKPIs.list
      tags:
      - Project
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted ProjectKPIs are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of ProjectKPIs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectKPI'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new ProjectKPI
      operationId: ProjectKPIs.create
      summary: ProjectKPIs.create
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectKPI on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new ProjectKPI
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createProjectKPIInput'
      responses:
        '201':
          description: Creation confirmation. Returns created ProjectKPI
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectKPI'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectKPIs/batch-delete:
    post:
      description: Removes ProjectKPIs with given list of ids
      operationId: ProjectKPIs.batch_delete
      summary: ProjectKPIs.batch_delete
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectKPIs on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectKPIs. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity ProjectKPI to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted ProjectKPI.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectKPIs/batch-modify:
    post:
      description: Create or update an batch of ProjectKPIs
      operationId: ProjectKPIs.batch_create_or_update
      summary: ProjectKPIs.batch_create_or_update
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectKPIs on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectKPIs. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new ProjectKPI
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchProjectKPIInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated ProjectKPIs
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectKPIs/batch-restore:
    post:
      description: Restores ProjectKPIs with given list of ids
      operationId: ProjectKPIs.batch_restore
      summary: ProjectKPIs.batch_restore
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectKPIs on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectKPIs. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity ProjectKPI to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored ProjectKPI.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectObjectives/{id}:
    get:
      description: Returns ProjectObjective with given id
      operationId: ProjectObjectives.get
      summary: ProjectObjectives.get
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectObjective to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ProjectObjective data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectObjective'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes ProjectObjective with given id
      operationId: ProjectObjectives.delete
      summary: ProjectObjectives.delete
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectObjective to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectObjective on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted ProjectObjective
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies ProjectObjective or ProjectObjectives with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of ProjectObjective to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectObjective on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: ProjectObjectives.update
      summary: ProjectObjectives.update
      tags:
      - Project
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProjectObjectiveInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting ProjectObjective
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectObjective'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectObjectives:
    get:
      description: Returns all defined ProjectObjectives
      operationId: ProjectObjectives.list
      summary: ProjectObjectives.list
      tags:
      - Project
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted ProjectObjectives are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of ProjectObjectives
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectObjective'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new ProjectObjective
      operationId: ProjectObjectives.create
      summary: ProjectObjectives.create
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectObjective on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new ProjectObjective
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createProjectObjectiveInput'
      responses:
        '201':
          description: Creation confirmation. Returns created ProjectObjective
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectObjective'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectObjectives/batch-delete:
    post:
      description: Removes ProjectObjectives with given list of ids
      operationId: ProjectObjectives.batch_delete
      summary: ProjectObjectives.batch_delete
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectObjectives on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectObjectives. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity ProjectObjective to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted ProjectObjective.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectObjectives/batch-modify:
    post:
      description: Create or update an batch of ProjectObjectives
      operationId: ProjectObjectives.batch_create_or_update
      summary: ProjectObjectives.batch_create_or_update
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectObjectives on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectObjectives. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new ProjectObjective
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchProjectObjectiveInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated ProjectObjectives
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectObjectives/batch-restore:
    post:
      description: Restores ProjectObjectives with given list of ids
      operationId: ProjectObjectives.batch_restore
      summary: ProjectObjectives.batch_restore
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectObjectives on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectObjectives. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity ProjectObjective to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored ProjectObjective.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectSharingClientRelations/{id}:
    get:
      description: Returns ProjectSharingClientRelation with given id
      operationId: ProjectSharingClientRelations.get
      summary: ProjectSharingClientRelations.get
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectSharingClientRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ProjectSharingClientRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectSharingClientRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes ProjectSharingClientRelation with given id
      operationId: ProjectSharingClientRelations.delete
      summary: ProjectSharingClientRelations.delete
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectSharingClientRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectSharingClientRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted ProjectSharingClientRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies ProjectSharingClientRelation or ProjectSharingClientRelations with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of ProjectSharingClientRelation to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectSharingClientRelation on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: ProjectSharingClientRelations.update
      summary: ProjectSharingClientRelations.update
      tags:
      - Project
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProjectSharingClientRelationInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting ProjectSharingClientRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectSharingClientRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectSharingClientRelations:
    get:
      description: Returns all defined ProjectSharingClientRelations
      operationId: ProjectSharingClientRelations.list
      summary: ProjectSharingClientRelations.list
      tags:
      - Project
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted ProjectSharingClientRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of ProjectSharingClientRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectSharingClientRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new ProjectSharingClientRelation
      operationId: ProjectSharingClientRelations.create
      summary: ProjectSharingClientRelations.create
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectSharingClientRelation on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new ProjectSharingClientRelation
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createProjectSharingClientRelationInput'
      responses:
        '201':
          description: Creation confirmation. Returns created ProjectSharingClientRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectSharingClientRelation'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectSharingClientRelations/batch-delete:
    post:
      description: Removes ProjectSharingClientRelations with given list of ids
      operationId: ProjectSharingClientRelations.batch_delete
      summary: ProjectSharingClientRelations.batch_delete
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectSharingClientRelations on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectSharingClientRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity ProjectSharingClientRelation to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted ProjectSharingClientRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectSharingClientRelations/batch-modify:
    post:
      description: Create or update an batch of ProjectSharingClientRelations
      operationId: ProjectSharingClientRelations.batch_create_or_update
      summary: ProjectSharingClientRelations.batch_create_or_update
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectSharingClientRelations on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectSharingClientRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new ProjectSharingClientRelation
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchProjectSharingClientRelationInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated ProjectSharingClientRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectSharingClientRelations/batch-restore:
    post:
      description: Restores ProjectSharingClientRelations with given list of ids
      operationId: ProjectSharingClientRelations.batch_restore
      summary: ProjectSharingClientRelations.batch_restore
      tags:
      - Project
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectSharingClientRelations on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for ProjectSharingClientRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity ProjectSharingClientRelation to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored ProjectSharingClientRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/ProjectSharingSalesUnitRelations/{id}:
    get:
      description: Returns ProjectSharingSalesUnitRelation with given id
      operationId: ProjectSharingSalesUnitRelations.get
      summary: ProjectSharingSalesUnitRelations.get
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectSharingSalesUnitRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: ProjectSharingSalesUnitRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/ProjectSharingSalesUnitRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes ProjectSharingSalesUnitRelation with given id
      operationId: ProjectSharingSalesUnitRelations.delete
      summary: ProjectSharingSalesUnitRelations.delete
      tags:
      - Project
      parameters:
      - name: id
        in: path
        description: ID of ProjectSharingSalesUnitRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of ProjectSharingSalesUnitRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted ProjectSharingSalesUnitRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies ProjectSharingSalesUnitRelation or ProjectSharingSalesUnitRelations with given id(s)
      parameters:
      - name: id
        in: path
[...]
