openapi: 3.2.0
info:
  title: Pipeliner Cloud Target API
  version: '100'
servers:
- url: https://us-east.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://eu-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ca-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ap-southeast.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
tags:
- name: Target
paths:
  /entities/Targets/{id}:
    get:
      description: Returns Target with given id
      operationId: Targets.get
      summary: Targets.get
      tags:
      - Target
      parameters:
      - name: id
        in: path
        description: ID of Target to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Target data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Target'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes Target with given id
      operationId: Targets.delete
      summary: Targets.delete
      tags:
      - Target
      parameters:
      - name: id
        in: path
        description: ID of Target to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Target on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted Target
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies Target or Targets with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of Target to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Target on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: Targets.update
      summary: Targets.update
      tags:
      - Target
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTargetInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting Target
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Target'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Targets:
    get:
      description: Returns all defined Targets
      operationId: Targets.list
      summary: Targets.list
      tags:
      - Target
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted Targets are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of Targets
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Target'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new Target
      operationId: Targets.create
      summary: Targets.create
      tags:
      - Target
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Target on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Target
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createTargetInput'
      responses:
        '201':
          description: Creation confirmation. Returns created Target
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Target'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Targets/batch-delete:
    post:
      description: Removes Targets with given list of ids
      operationId: Targets.batch_delete
      summary: Targets.batch_delete
      tags:
      - Target
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Targets on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Targets. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Target to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted Target.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Targets/batch-modify:
    post:
      description: Create or update an batch of Targets
      operationId: Targets.batch_create_or_update
      summary: Targets.batch_create_or_update
      tags:
      - Target
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Targets on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Targets. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Target
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchTargetInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated Targets
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Targets/batch-restore:
    post:
      description: Restores Targets with given list of ids
      operationId: Targets.batch_restore
      summary: Targets.batch_restore
      tags:
      - Target
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Targets on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Targets. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Target to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored Target.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/TargetRelations/{id}:
    get:
      description: Returns TargetRelation with given id
      operationId: TargetRelations.get
      summary: TargetRelations.get
      tags:
      - Target
      parameters:
      - name: id
        in: path
        description: ID of TargetRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: TargetRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/TargetRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes TargetRelation with given id
      operationId: TargetRelations.delete
      summary: TargetRelations.delete
      tags:
      - Target
      parameters:
      - name: id
        in: path
        description: ID of TargetRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of TargetRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted TargetRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies TargetRelation or TargetRelations with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of TargetRelation to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of TargetRelation on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: TargetRelations.update
      summary: TargetRelations.update
      tags:
      - Target
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTargetRelationInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting TargetRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/TargetRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/TargetRelations:
    get:
      description: Returns all defined TargetRelations
      operationId: TargetRelations.list
      summary: TargetRelations.list
      tags:
      - Target
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted TargetRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of TargetRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TargetRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new TargetRelation
      operationId: TargetRelations.create
      summary: TargetRelations.create
      tags:
      - Target
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of TargetRelation on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new TargetRelation
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createTargetRelationInput'
      responses:
        '201':
          description: Creation confirmation. Returns created TargetRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/TargetRelation'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/TargetRelations/batch-delete:
    post:
      description: Removes TargetRelations with given list of ids
      operationId: TargetRelations.batch_delete
      summary: TargetRelations.batch_delete
      tags:
      - Target
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of TargetRelations on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for TargetRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity TargetRelation to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted TargetRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/TargetRelations/batch-modify:
    post:
      description: Create or update an batch of TargetRelations
      operationId: TargetRelations.batch_create_or_update
      summary: TargetRelations.batch_create_or_update
      tags:
      - Target
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of TargetRelations on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for TargetRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new TargetRelation
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchTargetRelationInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated TargetRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/TargetRelations/batch-restore:
    post:
      description: Restores TargetRelations with given list of ids
      operationId: TargetRelations.batch_restore
      summary: TargetRelations.batch_restore
      tags:
      - Target
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of TargetRelations on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for TargetRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity TargetRelation to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored TargetRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    updateTargetRelationInput:
      properties:
        group_target_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the group target.
        user_target_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the user target.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
    createTargetRelationInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        group_target_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the group target.
        user_target_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the user target.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
      required:
      - group_target_id
      - user_target_id
    batchTargetRelationInput:
      properties:
        group_target_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the group target.
        user_target_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the user target.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        id:
          description: ID of object to update.
          type: string
          format: uuid
    TargetRelation:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        group_target:
          type: string
          format: uri
          description: 'Parent group target that aggregates the user target.


            Relation to Target. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Target'' object for properties.'
        user_target:
          type: string
          format: uri
          description: 'Child user target rolling up into the group target.


            Relation to Target. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Target'' object for properties.'
        group_target_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the group target.
        user_target_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the user target.
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
      required:
      - is_delete_protected
      - id
      - group_target
      - user_target
      - group_target_id
      - user_target_id
    createTargetInput:
      properties:
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        calculation_type:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Revenue, 2 - LeadQualified, 3 - LeadCreated'
          example: 1
          enum:
          - 1
          - 2
          - 3
        currency_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the target currency.
        description:
          type: string
          example: string
          description: Free-text description shown alongside the target.
        is_active:
          type: boolean
          example: false
          description: When true, the target is currently being tracked; when false, the target is a draft or has been deactivated.
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the owning user.
        period_from:
          type: string
          format: date
          example: '2019-01-01'
          description: First date of the active target period. Set when is_active is true; recomputed from settings.period when activated.
        period_to:
          type: string
          format: date
          example: '2019-01-01'
          description: Last date of the active target period.
        target_client_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the assignee user.
        type:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - User, 2 - GroupFromUser, 3 - GroupFromExisting, 4 - Simulated'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        child_targets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to TargetRelation, see: ''createTargetRelationInput'' object for properties.'
          description: User-level child targets that aggregate into this group target.
      required:
      - is_active
      - name
      - owner_id
    batchTargetInput:
      properties:
        calculation_type:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Revenue, 2 - LeadQualified, 3 - LeadCreated'
          example: 1
          enum:
          - 1
          - 2
          - 3
        currency_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the target currency.
        description:
          type: string
          example: string
          description: Free-text description shown alongside the target.
        is_active:
          type: boolean
          example: false
          description: When true, the target is currently being tracked; when false, the target is a draft or has been deactivated.
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the owning user.
        period_from:
          type: string
          format: date
          example: '2019-01-01'
          description: First date of the active target period. Set when is_active is true; recomputed from settings.period when activated.
        period_to:
          type: string
          format: date
          example: '2019-01-01'
          description: Last date of the active target period.
        target_client_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the assignee user.
        type:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - User, 2 - GroupFromUser, 3 - GroupFromExisting, 4 - Simulated'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        child_targets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to TargetRelation, see: ''updateTargetRelationInput'' object for properties.'
          description: User-level child targets that aggregate into this group target.
        id:
          description: ID of object to update.
          type: string
          format: uuid
    Error:
      properties:
        http_status:
          description: HTTP status code
          type: integer
          example: 400
        code:
          description: Internal API error code
          type: integer
          example: 117
        name:
          description: Name of the API error
          type: string
          example: ERROR_PARAMETER_INVALID
        message:
          description: Description of the API error
          type: string
        success:
          description: Always false on error.
          type: boolean
          example: false
      required:
      - success
      - http_status
    Target:
      properties:
        is_delete_protected:
          type: boolean
          example: false
          description: Tells if the entity instance is protected against delete (Entities that need to be present in the system at any time). Delete action still may fail if entity is deletable, due some other additional validations.
          readOnly: true
        id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Unique identifier of entity.
          readOnly: true
        is_deleted:
          type: boolean
          example: false
          description: Specifies if the entity is considered deleted.
          readOnly: true
        modified:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Last modification time.
          readOnly: true
        created:
          type: string
          format: date-time
          example: '2019-01-01T00:00:00'
          description: Creation time.
          readOnly: true
        currency:
          type: string
          format: uri
          description: 'Currency the target value is expressed in. Required when calculation_type is a currency-based metric.


            Relation to Currency. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Currency'' object for properties.'
        owner:
          type: string
          format: uri
          description: 'User who owns the target.


            Relation to Client. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Client'' object for properties.'
        target_client:
          type: string
          format: uri
          description: 'User the target is set on (the assignee). Required for User-type targets; null for group targets.


            Relation to Client. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''Client'' object for properties.'
        calculation_type:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Revenue, 2 - LeadQualified, 3 - LeadCreated'
          example: 1
          enum:
          - 1
          - 2
          - 3
        currency_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the target currency.
        description:
          type: string
          example: string
          description: Free-text description shown alongside the target.
        is_active:
          type: boolean
          example: false
          description: When true, the target is currently being tracked; when false, the target is a draft or has been deactivated.
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the owning user.
        period_from:
          type: string
          format: date
          example: '2019-01-01'
          description: First date of the active target period. Set when is_active is true; recomputed from settings.period when activated.
        period_to:
          type: string
          format: date
          example: '2019-01-01'
          description: Last date of the active target period.
        settings:
          type: string
          format: binary
          example: blob
          description: 'Target configuration: period (year, quarter/month etc.), value, fragment breakdown and indicator inputs. Stored as a JSON document.'
        target_client_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the assignee user.
        type:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - User, 2 - GroupFromUser, 3 - GroupFromExisting, 4 - Simulated'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        child_targets:
          type: array
          items:
            type: string
            format: uri
            description: 'Relation to TargetRelation. By default it is returned as URI to related resource. Using parameter ''expand'', it will return full entity. See: ''TargetRelation'' object for properties.'
          description: User-level child targets that aggregate into this group target.
      required:
      - is_delete_protected
      - id
      - currency
      - owner
      - is_active
      - name
      - owner_id
      - settings
    updateTargetInput:
      properties:
        calculation_type:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - Revenue, 2 - LeadQualified, 3 - LeadCreated'
          example: 1
          enum:
          - 1
          - 2
          - 3
        currency_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the target currency.
        description:
          type: string
          example: string
          description: Free-text description shown alongside the target.
        is_active:
          type: boolean
          example: false
          description: When true, the target is currently being tracked; when false, the target is a draft or has been deactivated.
        name:
          type: string
          example: string
          description: Name of the entity and its default text representation.
        owner_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the owning user.
        period_from:
          type: string
          format: date
          example: '2019-01-01'
          description: First date of the active target period. Set when is_active is true; recomputed from settings.period when activated.
        period_to:
          type: string
          format: date
          example: '2019-01-01'
          description: Last date of the active target period.
        target_client_id:
          type: string
          format: uuid
          example: 01234567-abcd-dcba-ffff-000000000000
          description: Id of the assignee user.
        type:
          type: integer
          description: 'Field whose values are strictly defined with an enumeration of values.


            Integer enum value: 1 - User, 2 - GroupFromUser, 3 - GroupFromExisting, 4 - Simulated'
          example: 1
          enum:
          - 1
          - 2
          - 3
          - 4
        revision:
          type: integer
          format: int32
          example: 1
          description: Revision when entity was lastly changed.
        child_targets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uri
            description: 'Relation to TargetRelation, see: ''updateTargetRelationInput'' object for properties.'
          description: User-level child targets that aggregate into this group target.
