openapi: 3.2.0
info:
  title: Pipeliner Cloud Master Right API
  version: '100'
servers:
- url: https://us-east.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://eu-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ca-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ap-southeast.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
tags:
- name: MasterRight
paths:
  /entities/AllowedAccountTypes/{id}:
    get:
      description: Returns AllowedAccountType with given id
      operationId: AllowedAccountTypes.get
      summary: AllowedAccountTypes.get
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedAccountType to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: AllowedAccountType data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedAccountType'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes AllowedAccountType with given id
      operationId: AllowedAccountTypes.delete
      summary: AllowedAccountTypes.delete
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedAccountType to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedAccountType on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted AllowedAccountType
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies AllowedAccountType or AllowedAccountTypes with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of AllowedAccountType to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedAccountType on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: AllowedAccountTypes.update
      summary: AllowedAccountTypes.update
      tags:
      - MasterRight
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAllowedAccountTypeInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting AllowedAccountType
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedAccountType'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedAccountTypes:
    get:
      description: Returns all defined AllowedAccountTypes
      operationId: AllowedAccountTypes.list
      summary: AllowedAccountTypes.list
      tags:
      - MasterRight
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted AllowedAccountTypes are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of AllowedAccountTypes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllowedAccountType'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new AllowedAccountType
      operationId: AllowedAccountTypes.create
      summary: AllowedAccountTypes.create
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedAccountType on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedAccountType
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createAllowedAccountTypeInput'
      responses:
        '201':
          description: Creation confirmation. Returns created AllowedAccountType
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedAccountType'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedAccountTypes/batch-delete:
    post:
      description: Removes AllowedAccountTypes with given list of ids
      operationId: AllowedAccountTypes.batch_delete
      summary: AllowedAccountTypes.batch_delete
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedAccountTypes on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedAccountTypes. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedAccountType to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted AllowedAccountType.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedAccountTypes/batch-modify:
    post:
      description: Create or update an batch of AllowedAccountTypes
      operationId: AllowedAccountTypes.batch_create_or_update
      summary: AllowedAccountTypes.batch_create_or_update
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedAccountTypes on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedAccountTypes. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedAccountType
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchAllowedAccountTypeInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated AllowedAccountTypes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedAccountTypes/batch-restore:
    post:
      description: Restores AllowedAccountTypes with given list of ids
      operationId: AllowedAccountTypes.batch_restore
      summary: AllowedAccountTypes.batch_restore
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedAccountTypes on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedAccountTypes. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedAccountType to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored AllowedAccountType.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyEmails/{id}:
    get:
      description: Returns AllowedCompanyEmail with given id
      operationId: AllowedCompanyEmails.get
      summary: AllowedCompanyEmails.get
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedCompanyEmail to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: AllowedCompanyEmail data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedCompanyEmail'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes AllowedCompanyEmail with given id
      operationId: AllowedCompanyEmails.delete
      summary: AllowedCompanyEmails.delete
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedCompanyEmail to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyEmail on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted AllowedCompanyEmail
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies AllowedCompanyEmail or AllowedCompanyEmails with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of AllowedCompanyEmail to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyEmail on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: AllowedCompanyEmails.update
      summary: AllowedCompanyEmails.update
      tags:
      - MasterRight
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAllowedCompanyEmailInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting AllowedCompanyEmail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedCompanyEmail'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyEmails:
    get:
      description: Returns all defined AllowedCompanyEmails
      operationId: AllowedCompanyEmails.list
      summary: AllowedCompanyEmails.list
      tags:
      - MasterRight
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted AllowedCompanyEmails are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of AllowedCompanyEmails
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllowedCompanyEmail'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new AllowedCompanyEmail
      operationId: AllowedCompanyEmails.create
      summary: AllowedCompanyEmails.create
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyEmail on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedCompanyEmail
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createAllowedCompanyEmailInput'
      responses:
        '201':
          description: Creation confirmation. Returns created AllowedCompanyEmail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedCompanyEmail'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyEmails/batch-delete:
    post:
      description: Removes AllowedCompanyEmails with given list of ids
      operationId: AllowedCompanyEmails.batch_delete
      summary: AllowedCompanyEmails.batch_delete
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyEmails on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedCompanyEmails. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedCompanyEmail to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted AllowedCompanyEmail.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyEmails/batch-modify:
    post:
      description: Create or update an batch of AllowedCompanyEmails
      operationId: AllowedCompanyEmails.batch_create_or_update
      summary: AllowedCompanyEmails.batch_create_or_update
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyEmails on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedCompanyEmails. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedCompanyEmail
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchAllowedCompanyEmailInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated AllowedCompanyEmails
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyEmails/batch-restore:
    post:
      description: Restores AllowedCompanyEmails with given list of ids
      operationId: AllowedCompanyEmails.batch_restore
      summary: AllowedCompanyEmails.batch_restore
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyEmails on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedCompanyEmails. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedCompanyEmail to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored AllowedCompanyEmail.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyPhones/{id}:
    get:
      description: Returns AllowedCompanyPhone with given id
      operationId: AllowedCompanyPhones.get
      summary: AllowedCompanyPhones.get
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedCompanyPhone to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: AllowedCompanyPhone data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedCompanyPhone'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes AllowedCompanyPhone with given id
      operationId: AllowedCompanyPhones.delete
      summary: AllowedCompanyPhones.delete
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedCompanyPhone to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyPhone on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted AllowedCompanyPhone
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies AllowedCompanyPhone or AllowedCompanyPhones with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of AllowedCompanyPhone to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyPhone on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: AllowedCompanyPhones.update
      summary: AllowedCompanyPhones.update
      tags:
      - MasterRight
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAllowedCompanyPhoneInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting AllowedCompanyPhone
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedCompanyPhone'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyPhones:
    get:
      description: Returns all defined AllowedCompanyPhones
      operationId: AllowedCompanyPhones.list
      summary: AllowedCompanyPhones.list
      tags:
      - MasterRight
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted AllowedCompanyPhones are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of AllowedCompanyPhones
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllowedCompanyPhone'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new AllowedCompanyPhone
      operationId: AllowedCompanyPhones.create
      summary: AllowedCompanyPhones.create
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyPhone on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedCompanyPhone
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createAllowedCompanyPhoneInput'
      responses:
        '201':
          description: Creation confirmation. Returns created AllowedCompanyPhone
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedCompanyPhone'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyPhones/batch-delete:
    post:
      description: Removes AllowedCompanyPhones with given list of ids
      operationId: AllowedCompanyPhones.batch_delete
      summary: AllowedCompanyPhones.batch_delete
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyPhones on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedCompanyPhones. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedCompanyPhone to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted AllowedCompanyPhone.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyPhones/batch-modify:
    post:
      description: Create or update an batch of AllowedCompanyPhones
      operationId: AllowedCompanyPhones.batch_create_or_update
      summary: AllowedCompanyPhones.batch_create_or_update
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyPhones on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedCompanyPhones. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedCompanyPhone
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchAllowedCompanyPhoneInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated AllowedCompanyPhones
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedCompanyPhones/batch-restore:
    post:
      description: Restores AllowedCompanyPhones with given list of ids
      operationId: AllowedCompanyPhones.batch_restore
      summary: AllowedCompanyPhones.batch_restore
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedCompanyPhones on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedCompanyPhones. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedCompanyPhone to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored AllowedCompanyPhone.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedContactTypes/{id}:
    get:
      description: Returns AllowedContactType with given id
      operationId: AllowedContactTypes.get
      summary: AllowedContactTypes.get
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedContactType to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: AllowedContactType data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedContactType'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes AllowedContactType with given id
      operationId: AllowedContactTypes.delete
      summary: AllowedContactTypes.delete
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedContactType to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedContactType on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted AllowedContactType
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies AllowedContactType or AllowedContactTypes with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of AllowedContactType to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedContactType on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: AllowedContactTypes.update
      summary: AllowedContactTypes.update
      tags:
      - MasterRight
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAllowedContactTypeInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting AllowedContactType
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedContactType'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedContactTypes:
    get:
      description: Returns all defined AllowedContactTypes
      operationId: AllowedContactTypes.list
      summary: AllowedContactTypes.list
      tags:
      - MasterRight
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted AllowedContactTypes are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of AllowedContactTypes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllowedContactType'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new AllowedContactType
      operationId: AllowedContactTypes.create
      summary: AllowedContactTypes.create
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedContactType on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedContactType
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createAllowedContactTypeInput'
      responses:
        '201':
          description: Creation confirmation. Returns created AllowedContactType
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedContactType'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedContactTypes/batch-delete:
    post:
      description: Removes AllowedContactTypes with given list of ids
      operationId: AllowedContactTypes.batch_delete
      summary: AllowedContactTypes.batch_delete
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedContactTypes on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedContactTypes. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedContactType to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted AllowedContactType.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedContactTypes/batch-modify:
    post:
      description: Create or update an batch of AllowedContactTypes
      operationId: AllowedContactTypes.batch_create_or_update
      summary: AllowedContactTypes.batch_create_or_update
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedContactTypes on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedContactTypes. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedContactType
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchAllowedContactTypeInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated AllowedContactTypes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedContactTypes/batch-restore:
    post:
      description: Restores AllowedContactTypes with given list of ids
      operationId: AllowedContactTypes.batch_restore
      summary: AllowedContactTypes.batch_restore
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedContactTypes on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedContactTypes. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedContactType to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored AllowedContactType.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedLeadTypes/{id}:
    get:
      description: Returns AllowedLeadType with given id
      operationId: AllowedLeadTypes.get
      summary: AllowedLeadTypes.get
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedLeadType to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: AllowedLeadType data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedLeadType'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes AllowedLeadType with given id
      operationId: AllowedLeadTypes.delete
      summary: AllowedLeadTypes.delete
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedLeadType to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedLeadType on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted AllowedLeadType
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies AllowedLeadType or AllowedLeadTypes with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of AllowedLeadType to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedLeadType on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: AllowedLeadTypes.update
      summary: AllowedLeadTypes.update
      tags:
      - MasterRight
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAllowedLeadTypeInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting AllowedLeadType
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedLeadType'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedLeadTypes:
    get:
      description: Returns all defined AllowedLeadTypes
      operationId: AllowedLeadTypes.list
      summary: AllowedLeadTypes.list
      tags:
      - MasterRight
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted AllowedLeadTypes are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of AllowedLeadTypes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllowedLeadType'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new AllowedLeadType
      operationId: AllowedLeadTypes.create
      summary: AllowedLeadTypes.create
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedLeadType on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedLeadType
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createAllowedLeadTypeInput'
      responses:
        '201':
          description: Creation confirmation. Returns created AllowedLeadType
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedLeadType'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedLeadTypes/batch-delete:
    post:
      description: Removes AllowedLeadTypes with given list of ids
      operationId: AllowedLeadTypes.batch_delete
      summary: AllowedLeadTypes.batch_delete
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedLeadTypes on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedLeadTypes. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedLeadType to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted AllowedLeadType.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedLeadTypes/batch-modify:
    post:
      description: Create or update an batch of AllowedLeadTypes
      operationId: AllowedLeadTypes.batch_create_or_update
      summary: AllowedLeadTypes.batch_create_or_update
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedLeadTypes on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedLeadTypes. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new AllowedLeadType
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchAllowedLeadTypeInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated AllowedLeadTypes
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedLeadTypes/batch-restore:
    post:
      description: Restores AllowedLeadTypes with given list of ids
      operationId: AllowedLeadTypes.batch_restore
      summary: AllowedLeadTypes.batch_restore
      tags:
      - MasterRight
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedLeadTypes on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for AllowedLeadTypes. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity AllowedLeadType to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored AllowedLeadType.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedPipelines/{id}:
    get:
      description: Returns AllowedPipeline with given id
      operationId: AllowedPipelines.get
      summary: AllowedPipelines.get
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedPipeline to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: AllowedPipeline data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedPipeline'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes AllowedPipeline with given id
      operationId: AllowedPipelines.delete
      summary: AllowedPipelines.delete
      tags:
      - MasterRight
      parameters:
      - name: id
        in: path
        description: ID of AllowedPipeline to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedPipeline on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted AllowedPipeline
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies AllowedPipeline or AllowedPipelines with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of AllowedPipeline to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of AllowedPipeline on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: AllowedPipelines.update
      summary: AllowedPipelines.update
      tags:
      - MasterRight
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAllowedPipelineInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting AllowedPipeline
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/AllowedPipeline'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/AllowedPipelines:
    get:
      description: Returns all defined AllowedPipelines
      operationId: AllowedPipelines.list
      summary: AllowedPipelines.list
      tags:
      - MasterRight
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted AllowedPipelines are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of AllowedPipelines
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllowedPipeline'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
[...]
