openapi: 3.2.0
info:
  title: Pipeliner Cloud Lead & Opportunity API
  version: '100'
servers:
- url: https://us-east.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://eu-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ca-central.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
- url: https://ap-southeast.api.pipelinersales.com/api/v100/rest/spaces/{space_id}
tags:
- name: Lead & Opportunity
paths:
  /entities/Leads/{id}:
    get:
      description: Returns Lead with given id
      operationId: Leads.get
      summary: Leads.get
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of Lead to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Lead data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Lead'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes Lead with given id
      operationId: Leads.delete
      summary: Leads.delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of Lead to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Lead on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted Lead
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies Lead or Leads with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of Lead to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of Lead on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: Leads.update
      summary: Leads.update
      tags:
      - Lead & Opportunity
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateLeadInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting Lead
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Lead'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Leads:
    get:
      description: Returns all defined Leads
      operationId: Leads.list
      summary: Leads.list
      tags:
      - Lead & Opportunity
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted Leads are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of Leads
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new Lead
      operationId: Leads.create
      summary: Leads.create
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Lead on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Lead
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createLeadInput'
      responses:
        '201':
          description: Creation confirmation. Returns created Lead
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/Lead'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Leads/batch-delete:
    post:
      description: Removes Leads with given list of ids
      operationId: Leads.batch_delete
      summary: Leads.batch_delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Leads on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Leads. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Lead to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted Lead.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Leads/batch-modify:
    post:
      description: Create or update an batch of Leads
      operationId: Leads.batch_create_or_update
      summary: Leads.batch_create_or_update
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Leads on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Leads. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new Lead
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchLeadInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated Leads
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/Leads/batch-restore:
    post:
      description: Restores Leads with given list of ids
      operationId: Leads.batch_restore
      summary: Leads.batch_restore
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of Leads on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for Leads. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity Lead to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored Lead.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOppties/{id}:
    get:
      description: Returns LeadOppty with given id
      operationId: LeadOppties.get
      summary: LeadOppties.get
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOppty to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: LeadOppty data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOppty'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOppties:
    get:
      description: Returns all defined LeadOppties
      operationId: LeadOppties.list
      summary: LeadOppties.list
      tags:
      - Lead & Opportunity
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted LeadOppties are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of LeadOppties
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadOppty'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyAccountRelations/{id}:
    get:
      description: Returns LeadOpptyAccountRelation with given id
      operationId: LeadOpptyAccountRelations.get
      summary: LeadOpptyAccountRelations.get
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyAccountRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: LeadOpptyAccountRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyAccountRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes LeadOpptyAccountRelation with given id
      operationId: LeadOpptyAccountRelations.delete
      summary: LeadOpptyAccountRelations.delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyAccountRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyAccountRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted LeadOpptyAccountRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies LeadOpptyAccountRelation or LeadOpptyAccountRelations with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyAccountRelation to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyAccountRelation on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: LeadOpptyAccountRelations.update
      summary: LeadOpptyAccountRelations.update
      tags:
      - Lead & Opportunity
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateLeadOpptyAccountRelationInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting LeadOpptyAccountRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyAccountRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyAccountRelations:
    get:
      description: Returns all defined LeadOpptyAccountRelations
      operationId: LeadOpptyAccountRelations.list
      summary: LeadOpptyAccountRelations.list
      tags:
      - Lead & Opportunity
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted LeadOpptyAccountRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of LeadOpptyAccountRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadOpptyAccountRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new LeadOpptyAccountRelation
      operationId: LeadOpptyAccountRelations.create
      summary: LeadOpptyAccountRelations.create
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyAccountRelation on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new LeadOpptyAccountRelation
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createLeadOpptyAccountRelationInput'
      responses:
        '201':
          description: Creation confirmation. Returns created LeadOpptyAccountRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyAccountRelation'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyAccountRelations/batch-delete:
    post:
      description: Removes LeadOpptyAccountRelations with given list of ids
      operationId: LeadOpptyAccountRelations.batch_delete
      summary: LeadOpptyAccountRelations.batch_delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyAccountRelations on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyAccountRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity LeadOpptyAccountRelation to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted LeadOpptyAccountRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyAccountRelations/batch-modify:
    post:
      description: Create or update an batch of LeadOpptyAccountRelations
      operationId: LeadOpptyAccountRelations.batch_create_or_update
      summary: LeadOpptyAccountRelations.batch_create_or_update
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyAccountRelations on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyAccountRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new LeadOpptyAccountRelation
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchLeadOpptyAccountRelationInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated LeadOpptyAccountRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyAccountRelations/batch-restore:
    post:
      description: Restores LeadOpptyAccountRelations with given list of ids
      operationId: LeadOpptyAccountRelations.batch_restore
      summary: LeadOpptyAccountRelations.batch_restore
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyAccountRelations on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyAccountRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity LeadOpptyAccountRelation to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored LeadOpptyAccountRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactGroupRelations/{id}:
    get:
      description: Returns LeadOpptyContactGroupRelation with given id
      operationId: LeadOpptyContactGroupRelations.get
      summary: LeadOpptyContactGroupRelations.get
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyContactGroupRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: LeadOpptyContactGroupRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyContactGroupRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes LeadOpptyContactGroupRelation with given id
      operationId: LeadOpptyContactGroupRelations.delete
      summary: LeadOpptyContactGroupRelations.delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyContactGroupRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactGroupRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted LeadOpptyContactGroupRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies LeadOpptyContactGroupRelation or LeadOpptyContactGroupRelations with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyContactGroupRelation to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactGroupRelation on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: LeadOpptyContactGroupRelations.update
      summary: LeadOpptyContactGroupRelations.update
      tags:
      - Lead & Opportunity
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateLeadOpptyContactGroupRelationInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting LeadOpptyContactGroupRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyContactGroupRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactGroupRelations:
    get:
      description: Returns all defined LeadOpptyContactGroupRelations
      operationId: LeadOpptyContactGroupRelations.list
      summary: LeadOpptyContactGroupRelations.list
      tags:
      - Lead & Opportunity
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted LeadOpptyContactGroupRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of LeadOpptyContactGroupRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadOpptyContactGroupRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new LeadOpptyContactGroupRelation
      operationId: LeadOpptyContactGroupRelations.create
      summary: LeadOpptyContactGroupRelations.create
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactGroupRelation on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new LeadOpptyContactGroupRelation
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createLeadOpptyContactGroupRelationInput'
      responses:
        '201':
          description: Creation confirmation. Returns created LeadOpptyContactGroupRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyContactGroupRelation'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactGroupRelations/batch-delete:
    post:
      description: Removes LeadOpptyContactGroupRelations with given list of ids
      operationId: LeadOpptyContactGroupRelations.batch_delete
      summary: LeadOpptyContactGroupRelations.batch_delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactGroupRelations on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyContactGroupRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity LeadOpptyContactGroupRelation to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted LeadOpptyContactGroupRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactGroupRelations/batch-modify:
    post:
      description: Create or update an batch of LeadOpptyContactGroupRelations
      operationId: LeadOpptyContactGroupRelations.batch_create_or_update
      summary: LeadOpptyContactGroupRelations.batch_create_or_update
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactGroupRelations on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyContactGroupRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new LeadOpptyContactGroupRelation
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchLeadOpptyContactGroupRelationInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated LeadOpptyContactGroupRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactGroupRelations/batch-restore:
    post:
      description: Restores LeadOpptyContactGroupRelations with given list of ids
      operationId: LeadOpptyContactGroupRelations.batch_restore
      summary: LeadOpptyContactGroupRelations.batch_restore
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactGroupRelations on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyContactGroupRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity LeadOpptyContactGroupRelation to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored LeadOpptyContactGroupRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactRelations/{id}:
    get:
      description: Returns LeadOpptyContactRelation with given id
      operationId: LeadOpptyContactRelations.get
      summary: LeadOpptyContactRelations.get
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyContactRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: LeadOpptyContactRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyContactRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes LeadOpptyContactRelation with given id
      operationId: LeadOpptyContactRelations.delete
      summary: LeadOpptyContactRelations.delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyContactRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted LeadOpptyContactRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies LeadOpptyContactRelation or LeadOpptyContactRelations with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyContactRelation to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactRelation on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: LeadOpptyContactRelations.update
      summary: LeadOpptyContactRelations.update
      tags:
      - Lead & Opportunity
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateLeadOpptyContactRelationInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting LeadOpptyContactRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyContactRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactRelations:
    get:
      description: Returns all defined LeadOpptyContactRelations
      operationId: LeadOpptyContactRelations.list
      summary: LeadOpptyContactRelations.list
      tags:
      - Lead & Opportunity
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted LeadOpptyContactRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of LeadOpptyContactRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadOpptyContactRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new LeadOpptyContactRelation
      operationId: LeadOpptyContactRelations.create
      summary: LeadOpptyContactRelations.create
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactRelation on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new LeadOpptyContactRelation
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createLeadOpptyContactRelationInput'
      responses:
        '201':
          description: Creation confirmation. Returns created LeadOpptyContactRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyContactRelation'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactRelations/batch-delete:
    post:
      description: Removes LeadOpptyContactRelations with given list of ids
      operationId: LeadOpptyContactRelations.batch_delete
      summary: LeadOpptyContactRelations.batch_delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactRelations on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyContactRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity LeadOpptyContactRelation to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted LeadOpptyContactRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactRelations/batch-modify:
    post:
      description: Create or update an batch of LeadOpptyContactRelations
      operationId: LeadOpptyContactRelations.batch_create_or_update
      summary: LeadOpptyContactRelations.batch_create_or_update
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactRelations on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyContactRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new LeadOpptyContactRelation
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchLeadOpptyContactRelationInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated LeadOpptyContactRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactRelations/batch-restore:
    post:
      description: Restores LeadOpptyContactRelations with given list of ids
      operationId: LeadOpptyContactRelations.batch_restore
      summary: LeadOpptyContactRelations.batch_restore
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactRelations on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyContactRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity LeadOpptyContactRelation to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored LeadOpptyContactRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactSalesRoleRelations/{id}:
    get:
      description: Returns LeadOpptyContactSalesRoleRelation with given id
      operationId: LeadOpptyContactSalesRoleRelations.get
      summary: LeadOpptyContactSalesRoleRelations.get
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyContactSalesRoleRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: LeadOpptyContactSalesRoleRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyContactSalesRoleRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      description: Removes LeadOpptyContactSalesRoleRelation with given id
      operationId: LeadOpptyContactSalesRoleRelations.delete
      summary: LeadOpptyContactSalesRoleRelations.delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyContactSalesRoleRelation to delete
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactSalesRoleRelation on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    description: id of deleted LeadOpptyContactSalesRoleRelation
                    type: string
                    format: uuid
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      description: Modifies LeadOpptyContactSalesRoleRelation or LeadOpptyContactSalesRoleRelations with given id(s)
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyContactSalesRoleRelation to update
        required: true
        schema:
          type: string
          format: uuid
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactSalesRoleRelation on update. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      operationId: LeadOpptyContactSalesRoleRelations.update
      summary: LeadOpptyContactSalesRoleRelations.update
      tags:
      - Lead & Opportunity
      requestBody:
        description: id(s) of modified item(s) and fields to modify
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateLeadOpptyContactSalesRoleRelationInput'
      responses:
        '200':
          description: Modification confirmation. Returns resulting LeadOpptyContactSalesRoleRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyContactSalesRoleRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactSalesRoleRelations:
    get:
      description: Returns all defined LeadOpptyContactSalesRoleRelations
      operationId: LeadOpptyContactSalesRoleRelations.list
      summary: LeadOpptyContactSalesRoleRelations.list
      tags:
      - Lead & Opportunity
      parameters:
      - name: include-deleted
        in: query
        description: if enabled, deleted LeadOpptyContactSalesRoleRelations are returned as well
        required: false
        schema:
          type: boolean
      - name: first
        in: query
        description: 'Number of entities to return from beginning of the result set. Max: 100. Default: 30'
        required: false
        schema:
          type: integer
          format: int32
      - name: last
        in: query
        description: Return only the "last" number of entities from result set. When used with first parameter, then it returns last M records from the first N records.
        required: false
        schema:
          type: integer
          format: int32
      - name: before
        in: query
        description: Cursor until which to take entities to result set.
        required: false
        schema:
          type: string
      - name: after
        in: query
        description: Cursor after which to start taking entities to result set.
        required: false
        schema:
          type: string
      - name: expand
        in: query
        description: Expand related entity. Use api_names of relation fields. You can use multiple values separated via ',' colon. If not used, URI link will be returned instead. You can use dots '.' to expand nested entities as well.
        required: false
        example: expand=owner,sales_unit,account_relations.account
        schema:
          type: string
      - name: order-by
        in: query
        description: Order by values. Use api_name of field to sort by ascending. Prefix api_name with '-' to descending sort. You can use multiple values separated via ',' colon.
        example: order-by=created,-modified
        required: false
        schema:
          type: string
      - name: filter
        in: query
        description: Use name of field in braces to filter by this field. To advanced filter, use with combination with filter-op parameter.
        example: filter[name]=Example
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: filter-op
        in: query
        description: 'Filter operator. Specify a way how to filter fields. Supported operators: [eq, ieq, not-eq, not-ieq, contains, starts, ends, icontains, istarts, iends, null, not-null, empty, not-empty, gt, gte, lt, lte, between].'
        example: filter-op[name]=eq
        required: false
        schema:
          type: object
        style: deepObject
        allowReserved: true
      - name: load-only
        in: query
        description: Loads only fields defined within this parameter. You can use multiple values separated via ',' colon. If not used, then all fields are returned. You can use dots '.' to specify load only fields in nested as well.
        required: false
        example: load-only=id,name,owner.id
        schema:
          type: string
      responses:
        '200':
          description: list of LeadOpptyContactSalesRoleRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeadOpptyContactSalesRoleRelation'
                  page_info:
                    type: object
                    properties:
                      start_cursor:
                        type: string
                        example: WyIwMSIsICJiMmYwODI0Ni1iYWE5LTQyY2QtYmM3Yi04YmM4MjY3M2E2NTgiXQ==
                        description: Start cursor of result set.
                      end_cursor:
                        type: string
                        example: WyIwNSIsICJmMjZhZjZiMC00ZWE4LTQ3MDgtODU2NC0wN2JmYzI4ZGQ5ZTgiXQ==
                        description: End cursor of result set.
                      has_previous_page:
                        type: boolean
                        example: true
                        description: If result set has previous page (if yes, use start_cursor value in before parameter to load it).
                      has_next_page:
                        type: boolean
                        example: true
                        description: If result set has next page (if yes, use end_cursor value in after parameter to load it).
                    description: Page info result set. Please note it is returned only when legacy limit & offset parameters are not used.
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      description: Creates new LeadOpptyContactSalesRoleRelation
      operationId: LeadOpptyContactSalesRoleRelations.create
      summary: LeadOpptyContactSalesRoleRelations.create
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactSalesRoleRelation on create. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new LeadOpptyContactSalesRoleRelation
        required: true
        content:
          application / json:
            schema:
              $ref: '#/components/schemas/createLeadOpptyContactSalesRoleRelationInput'
      responses:
        '201':
          description: Creation confirmation. Returns created LeadOpptyContactSalesRoleRelation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyContactSalesRoleRelation'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactSalesRoleRelations/batch-delete:
    post:
      description: Removes LeadOpptyContactSalesRoleRelations with given list of ids
      operationId: LeadOpptyContactSalesRoleRelations.batch_delete
      summary: LeadOpptyContactSalesRoleRelations.batch_delete
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactSalesRoleRelations on delete. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyContactSalesRoleRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to delete.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity LeadOpptyContactSalesRoleRelation to delete.
                format: uuid
      responses:
        '200':
          description: Batch removal confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of deleted LeadOpptyContactSalesRoleRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactSalesRoleRelations/batch-modify:
    post:
      description: Create or update an batch of LeadOpptyContactSalesRoleRelations
      operationId: LeadOpptyContactSalesRoleRelations.batch_create_or_update
      summary: LeadOpptyContactSalesRoleRelations.batch_create_or_update
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactSalesRoleRelations on change. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyContactSalesRoleRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: data of new LeadOpptyContactSalesRoleRelation
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/batchLeadOpptyContactSalesRoleRelationInput'
      responses:
        '200':
          description: Creation confirmation. Returns a list of created / updated LeadOpptyContactSalesRoleRelations
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: And ID of created / updated entity.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyContactSalesRoleRelations/batch-restore:
    post:
      description: Restores LeadOpptyContactSalesRoleRelations with given list of ids
      operationId: LeadOpptyContactSalesRoleRelations.batch_restore
      summary: LeadOpptyContactSalesRoleRelations.batch_restore
      tags:
      - Lead & Opportunity
      parameters:
      - name: validation-level
        in: query
        description: 'Specify validation level of LeadOpptyContactSalesRoleRelations on restore. Use them as bit mask: 0 - validate each field on entity,

          2 - validate only changed fields, 4 - validate only system fields, 8 - allows to override readonly fields,

          16 - allows to set entity on deleted relationship.'
        schema:
          type: integer
          format: int32
      - name: rollback-method
        in: query
        description: Specify rollback method for LeadOpptyContactSalesRoleRelations. 0 - rollback all, 1 - rollback only failed records.
        schema:
          type: integer
          format: int32
      requestBody:
        description: List of ids to restore.
        required: true
        content:
          application / json:
            schema:
              type: array
              items:
                type: string
                description: An id of entity LeadOpptyContactSalesRoleRelation to restore.
                format: uuid
      responses:
        '200':
          description: Batch restoration confirmation
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    type: array
                    items:
                      oneOf:
                      - type: string
                        description: An id of restored LeadOpptyContactSalesRoleRelation.
                        format: uuid
                      - $ref: '#/components/schemas/Error'
        '500':
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /entities/LeadOpptyDataExRelations/{id}:
    get:
      description: Returns LeadOpptyDataExRelation with given id
      operationId: LeadOpptyDataExRelations.get
      summary: LeadOpptyDataExRelations.get
      tags:
      - Lead & Opportunity
      parameters:
      - name: id
        in: path
        description: ID of LeadOpptyDataExRelation to retrieve
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: LeadOpptyDataExRelation data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                    description: True when response succeeded, false on error.
                  data:
                    $ref: '#/components/schemas/LeadOpptyDataExRelation'
        '404':
          description: Sent when invalid ID is given
          content:
            application/json:
              schema:
[...]
